<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs || The art of thinking clearly</title>
    <link rel="stylesheet" href="../static/style_Docs.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Nash</a>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h1>The art of thinking clearly</h1>

            <h3>Introducation</h3>
            <a href="http://127.0.0.1:8000/The art of thinking clearly/introducation">Click here</a>
            <h3>Survivorship bias</h3>
            <a href="http://127.0.0.1:8000/The art of thinking clearly/survivorship_bias">Click here</a>
            <h3>Swimmers boy illusion </h3> 
            <a href="http://127.0.0.1:8000/The art of thinking clearly/swimmers_body_illusion">Click here</a>
            <h3>Clustering illusion</h3>
            <a href="http://127.0.0.1:8000/The art of thinking clearly/clustering_illusion">Click here</a>
            <h3>Social proof</h3>
            <a href="http://127.0.0.1:8000/The art of thinking clearly/social_proof">Click here</a>
            <h3>Sunk cost fallacy</h3>
            <a href="http://127.0.0.1:8000/The art of thinking clearly/sunk_cost_fallacy">Click here</a>
            <h3>Reciprocity</h3>
            <a href="http://127.0.0.1:8000/The art of thinking clearly/Reciprocity">Click here</a>
            <h3>Conformation bias</h3>
            <a href="http://127.0.0.1:8000/The art of thinking clearly/Comformation bias">Click here</a>
            <h3>Authority bias</h3>
            <a href="http://127.0.0.1:8000/The art of thinking clearly/Authority bias">Click here</a>
            <h3>Contrast effect</h3>
            <a href="http://127.0.0.1:8000/The art of thinking clearly/contrarst effect">Click here</a>
        </div>
    </section>
</body>
</html>