

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Momentum and Gravit</title>
   <style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , "sans-serif";
    }

    body{
        background: #081b29;
        color: #ededed;
        overflow: unset;
    }

    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }


    .logo{
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
    }

    .navbar a {
        font-size: 18px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 3s;
    }

    .navbar a:hover{
        color: #00abf0;
    }

    .home{
        height: 80vh;
        padding: 10% 10% 10% 10% ;
    }

    .home-content{
        max-width: 600px;
    }

    .home-content h1{   
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
    }

    .home-content h1{
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
    }

    .home-content h3{
        font-size: 32px;
        font-weight: 700;
        color: #00abf0;
    }

    .home-content p{
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin: 10px 0px 10px;
    }

    .home-content a{
        font-size: 25px;
        color: aqua;
        text-decoration: none;
        font-weight: 600;
    }

    .home-content li{
        font-size: 25px;
        color: aquamarine;
        text-decoration: none;
        font-weight: 600;
    }
   </style>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Nash</a>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>
    <div class="home">
        <section class="home-content">
            <h1>Sprite_of_laws</h1>
            <p>Laws, in the broadest sense, are the necessary relations which derive from the nature of things; and in this sense all beings have their laws: the deity has its laws,1 The material world has its laws, intelligences higher than man have their laws, beasts have their laws, man has his laws.</p>
            <p>There is therefore a primordial reason; and laws are the relations that exist between it and the different beings, and the relations of those various beings to each other.</p>
            <p>God has a relationship with the universe as creator and as preserver; the laws by which he created are those by which he preserves; he acts according to those rules because he knows them; he knows them, because he made them; he made them, because they have a relationship with his wisdom and might</p>
            <p>Individual intelligent beings can have laws they have made; but they also have some which they have not made. Intelligent beings, before they existed, were possible; they therefore had possible relations, and consequently possible laws. Before any laws had been made, there were possible relations of justice. To say that there is nothing just or unjust but what specific laws ordain or forbid is to say that until a circle had been drawn all radii were not equal.</p>
            <p>If there were intelligent beings who had received some benefit from another being they ought to have some gratitude for it; that if an intelligent being had created an intelligent being, the created one ought to remain in the dependency it has been in since its origin; that an intelligent being who has done harm to an intelligent being deserves to incur the same harm; and so forth.</p>
            <p>By the attraction of pleasure they preserve their individual being, and by the same attraction they preserve their species. They have natural laws because they are united by my feeling; they have no specific laws, because they are not united by consciousness</p>
            <p>That law which, by imprinting within us the notion of a creator, urges us toward him, is the first of natural laws in importance, though not in the order of those laws.</p>
            <p>Man in the state of nature would possess rather the faculty of knowing than any knowledge. It is obvious that his first notions would not be speculative ones: he would attend to the preservation of his being before inquiring into its origin.</p>
            <p>Such a man would at first be aware only of his weakness; he would be extremely timid: and if on that point we needed evidence, wild men have been found in the forests who quake at everything and flee everything.</p>
            <p>In this state, everyone feels inferior; scarcely can the individual feel equal to another.</p>
            <p>Therefore they would not be eager to attack each other, and peace would be the first natural law To his feeling of weakness man would add the awareness of his needs. Thus another natural law would be that which would motivate him to seek nourishment. This is the second law</p>
            <p>The charm which the two sexes inspire by their difference would increase that pleasure; and the natural way they always solicit each other would be a third law</p>
            <p>Every separate society comes to feel its strength, which results in a state of war nation to nation. Individuals in each society begin to feel their strength; they seek to turn the principal advantages of that society to their own benefit, which makes for a state of war between them</p>
            <p>These two sorts of state of war bring about the establishment of laws among men.</p>
            <p>Considered as inhabitants of such a vast planet that there will necessarily be different peoples, they have laws bearing on the relationship these peoples have with each other, and that is the LAW OF NATIONS.</p>
            <p>Considered as living in a society which has to be maintained, they have laws bearing on the relationship between those who govern and those who are governed, and that is POLITICAL LAW.</p>
            <p>They have still others bearing on the relationship of all their citizens with one another, and that is CIVIL LAW</p>
            <p>The object of war is victory; that of victory, conquest; that of conquest, self preservation. From this principle and the previous one ought to flow all the laws that make up the law of nations</p>
            <p>Besides the law of nations with respect to all societies, there is a political law for each. No society could subsist without a government. All of the separate forces together, as Gravina puts it well, constitute what we call the political state</p>
            <p>The separate strengths cannot join together unless all wills are joined. “The joining of those wills,” rightly notes Gravina again, “is what we call the civil state.” Law in general is human reason, insofar as it governs all the peoples of the earth; and the political and civil laws of each nation should be only the particular instances where that human reason is applied.</p>
            <p>They must relate to the nature and principle of the government which is established, or which one intends to establish, either because they constitute it, as do the political laws, or because they maintain it, as the civil laws do.</p>
            <p>They must be relative to the physical facts of the country, to the freezing, torrid, or temperate climate; to the quality of the terrain, to its situation, its size; to the life style of its peoples, laborers, hunters, or shepherds; they must relate to the degree of freedom which the constitution can allow; to the inhabitants’ religion, their inclinations, wealth, number, commerce, behavior, and manners. Finally, the laws are related to each other, to their origin, to the legislator’s objective, to the order of things upon which they are established: it is from all these perspectives that they have to consider.</p>
            <p>There are three species of governments: REPUBLICAN, MONARCHICAL, and DESPOTIC.</p>
            <p>To identify their nature, we need no more than the notion the least educated of men have of them.</p>
            <p>I posit three definitions, or rather three givens: first, that the republican government is one in which the people as a whole, or only a portion of the people, holds the sovereign authority; the monarchical government, one in which one man alone governs, but by fixed and established laws; whereas in the despotic government one man alone, with no law nor rule, prevails in all things by his will and his fancies.</p>
            <p>When, in a republic, the people as a whole holds the sovereign authority, it is a democracy. When the sovereign authority is in the hands of a portion of the people, that is called an aristocracy.</p>
            <p>They can be the monarch only through their ballots, which are their will. The will of The sovereign is the sovereign itself. The laws which establish the right of suffrage are therefore fundamental in this government.</p>
            <p>Indeed it is as important to specify how, by whom, to whom, and about what, votes are to be granted, as it is in a monarchy to know who is the monarch, and in what manner he is to govern</p>
            <p>The people that hold the supreme authority must itself do everything it can do well and what it cannot do well it must do through its ministers.</p>
            <p>Its ministers are not its own unless it names them: it is therefore a fundamental maxim of this government that the people name its own ministers, in other words its magistrates.</p>
            <p>He people, like monarchs, and even more than they, needs to be led by a council or senate. But for there to be confidence, the people must elect the members, either by choosing them directly, as in Athens, or through some magistrate which they have instituted to elect them, as was practiced in Rome in some instances.</p>
            <p>The people are admirable for choosing those to whom they must entrust some part of their authority. They have only to judge solely by things they cannot fail to know and facts that are palpable.</p>
            <p>They know very well that a man has often been to war, that in it he has had such and such accomplishments: they are therefore quite capable of electing a general.</p>
            <p>They know that a judge is devoted, that many leave his court satisfied with him, that he has not been convicted of corruption: this is enough for them to elect a prætor.</p>
            <p>They have been impressed by a citizen’s splendor or wealth, which sufficiently enables them to choose a councilor.</p>
            <p>Suffrage by lot is in the nature of democracy; suffrage by choice is in the nature of aristocracy.</p>
            <p>The law that specifies the manner of casting votes is another fundamental law in democracy</p>
            <p>It is again a fundamental law of democracy that the people alone should make laws; Yet there are a thousand situations where the senate must be able to make decisions; it is even often appropriate to test a law before establishing it. The constitutions of Rome and Athens were most wise.</p>
            <p>The senate’s decrees had force of law for one year, but became permanent only by the will of the people</p>
            <p>In aristocracy, the sovereign authority is in the hands of a certain number of persons. It is they who make the laws and have them carried out, and the rest of the people are at most, with respect to them, like subjects in a monarchy with respect to the monarch.</p>
            <p>Senators must not have the right to fill vacancies in the senate: nothing would be more likely to perpetuate abuses. In Rome, which in the earliest times was a sort of aristocracy, the senate did not designate its own replacements; new senators were named instead by the censors.</p>
            <p>It is instituted to avenge the crimes it suspects, and the former made more use of threats than of punishments even for crimes confessed by their perpetrators.</p>
            <p>The best aristocracy is one where the portion of the people who have no share in power is so small and so poor that the dominant portion has no interest in oppressing them</p>
            <p>The most imperfect of all is one where that part of the people that obeys are the civil slaves of the part that commands, like the aristocracy of Poland, where the peasants are slaves of the nobility</p>
            <p>Subordinate and dependent intermediate powers constitute the nature of monarchical government: in other words, where one man alone governs by fundamental laws.</p>
            <p>These fundamental laws necessarily suppose median channels through which the authority flows: for if there is nothing in a state but the fleeting and capricious will of one man alone, nothing, and consequently no fundamental law, can be fixed</p>
            <p>In despotic states, there are no fundamental laws, nor is there any repository of laws. That is why religion usually has such strength in those countries: it is because it provides a sort of repository and stability; and if it is not religion, it is the customs that are revered in lieu of law</p>
            <p>The more the empire is extended, the more the seraglio grows, and consequently the More besotted is the prince with pleasures. Thus, in these states, the more peoples the prince has to govern, the less he thinks about government; the greater the matters to be decided, the less they are pondered</p>
            <p>The difference between the nature of the government and its principle is that its nature is what makes it what it is, and its principle is what makes it work</p>
            <p>The nature of republican government is that the people as a whole, or certain families, hold the sovereign authority; the nature of monarchical government, that the prince holds the sovereign authority, but wields it according to established laws; the nature of despotic government, that one man governs alone according to his desires and fancies</p>
            <p>In a monarchy, where the person who executes the laws holds himself above them, less virtue is required than in a popular government, where the person who executes the laws is aware that he himself is subject to them and that he will feel their weight </p>
            <p>As there must be virtue in a popular government, it must also be present in the aristocratic one. It is true that it is not absolutely necessary.</p>
            <p>The common people, which is in relation to nobles what subjects are in relation to the monarchs are contained by their laws.</p>
            <p>They therefore have less need of virtue than the people of a democracy. But how will the nobles be contained? Those who must enforce the laws against their colleagues will immediately sense that they are acting against themselves; there must therefore, by the nature of the constitution, be virtue in this body.</p>
            <p>They therefore have less need of virtue than the people of a democracy. But how will the nobles be contained? Those who must enforce the laws against their colleagues will immediately sense that they are acting against themselves; there must therefore, by the nature of the constitution, be virtue in this body.</p>
            <p>But as easy as it is for this body to repress the others, it is as hard for it to repress itself.</p>
            <p>Such is the nature of this constitution that it seems to place the same people under the authority of the laws, and to protect them from those laws.</p>
            <p>Now such a body can repress itself in only two ways: either by great virtue, which causes the nobles to find themselves in some sense equal with their people, which can make for a great republic; or by a lesser virtue, which is a certain moderation that makes the nobles at least equal to each other, which assures their preservation</p>
            <p>In monarchies, politics makes great things happen with as little virtue as it can; as in the most admirable machines, art uses as few movements, forces and wheels as possible.</p>
            <p>The state subsists independently of love of country, of the desire for true glory, of self-renunciation, of the sacrifice of one’s dearest interests, and of all those heroic virtues that</p>
            <p>We find in the Ancients, and about which we have only heard. Laws take the place of all those virtues that are not needed there; the state dispenses you from them: an act committed without a sound in a sense has no consequences.</p>
            <p>If it lacks one resource, it has another. Honor, which is to say the prejudice of each person and of every rank, takes the place of virtue, and represents it everywhere; honor can inspire the finest deeds; it can, combined with the force of the laws, lead to the government’s ends like virtue itself. </p>
            <p>Thus, in well-ordered monarchies, everyone will be more or less a good citizen, and rarely will anyone be found who is a man of good will; for being a man of good will requires that that be his intention.</p>
            <p>Nevertheless, in republics private crimes are public: that is, they threaten the constitution of the state more than they do individuals; and in monarchies public crimes are more private: that is, they threaten individual fortunes more than the constitution of the state itself.</p>
            <p>Monarchical government, as we have said, supposes pre-eminences, ranks, and even a founding nobility. The nature of honor is to claim preferences and distinctions; it is therefore inherently in its place in this government. </p>
            <p>Ambition is pernicious in a republic. It has good effects in a monarchy: it gives life to that government, and has the advantage of not being dangerous, because there it can be constantly repressed.</p>
            <p>It is not honor which is the principle of despotic states, where, all men being equal, one cannot prefer oneself to others; men there all being slaves, one cannot prefer oneself to anything.</p>
            <p>Besides, as honor has its laws and its rules, and is unable to bend, as it indeed depends on its own whim, and not on anyone else’s, it is only to be found in states that have fixed constitutions and laws that are set. How could it be suffered by a despot? It glories in its contempt for life, and the despot’s only strength is that he can take it away. How could it suffer a despot? It has rigid rules and sustained impulses; the despot knows no rule, and his impulses destroy all the others</p>
            <p>A moderate government can as much as it wants, and with no risk, relax its constraints. It maintains itself by its laws and by its inner strength. But when, in the despotic government, the prince ceases for an instant to lift his hand, if he cannot instantly destroy those who occupy the highest places all is lost: for in the absence of what drives the government, namely fear, the people are left with no protector </p>
            <p>In despotic states, the nature of the government requires extreme obedience, and the will of the prince, once known, must have its effect as infallibly as one billiard ball striking another.</p>
            <p>There one can no more express his fears over a future event than he can blame his failures on the whim of fortune: the lot of men, as of beasts, is instinct, obedience, and punishment</p>
            <p>In moderate monarchical states, authority is limited by what drives them, in other words honor, which reigns like a monarch over the prince and the people. No one would presume to invoke before him the laws of religion; a courtier would feel ridiculous. It is the laws of honor that will be constantly invoked.</p>
            <p>As a result there are necessary modifications in obedience: honor is naturally subject to peculiarities, and obedience will follow all of them. </p>

         </section>
    </div>
</body>    
</html>