<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classification of Animals </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , "sans-serif";
    }

    body{
        background: #081b29;
        color: #ededed;
        overflow: unset;
    }

    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }


    .logo{
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
    }

    .navbar a {
        font-size: 18px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 3s;
    }

    .navbar a:hover{
        color: #00abf0;
    }

    .home{
        height: 80vh;
        padding: 10% 10% 10% 10% ;
    }

    .home-content{
        max-width: 600px;
    }

    .home-content h1{   
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
    }

    .home-content h1{
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
    }

    .home-content h3{
        font-size: 32px;
        font-weight: 700;
        color: #00abf0;
    }

    .home-content p{
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin: 10px 0px 10px;
    }

    .home-content a{
        font-size: 25px;
        color: aqua;
        text-decoration: none;
        font-weight: 600;
    }

    .home-content li{
        font-size: 25px;
        color: aquamarine;
        text-decoration: none;
        font-weight: 600;
    }
    .menu {
            height: 100%; 
            width: 500px;
            position: fixed; 
            z-index: 1; 
            top: 10%; 
            left: 60%;
            background-color: #081b29; 
            overflow-x: hidden; 
            padding-top: 20px;
        }
    .menu a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }
   </style>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Nash</a>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>
    <div class="home">
        <section class="home-content">
           <h1>Classification of animals</h1>
           <p>Grouping of animals into different levels based on their common characteristic is known as classification </p>
           <p>Significance of classification of organisms </p>
           <ul>
               <li>Easy to study about organisms</li>
               <li>Ability to identify specific distinguish characteristic of an organisms </li>
               <li>Ability to get a new idea about the whole biosphere </li>
               <li>Ability to reveal different relationship with different organisms </li>
               <li>Identification of organisms with economical use for human </li>
           </ul>
           <p>Aristotle introduced the first scientific classification of organisms </p>
           <p>Carolus Linnaenus in the 18th century introduced a successful classification method</p>
           <p>There are two types of classification</p>
           <ul>
               <li>Natural classification </li>
               <li>Artificial classification</li>
           </ul>
           <p>In artificial classification features such as presence or absence of locomotive appendix or habits etc are considered </p>
           <p>It does not depend on evolutionary relations </p>
           <p>A natural classification method depicts the evolutionary relationship among organisms </p>
           <p>In natural classification morphological physiological and molecular biological features are considered </p>
           <p>Natural classification</p>
           <ul>
               <li>Explain natural relationship among organisms of some species</li>
               <li>Explain the evolutionary relationship between organisms </li>
           </ul>
           <p>The five kingdom classification system introduced by robert whittaker in 1969</p>
           <p>Modern classification is the classification introduced by the clare wise in 1990 with three domains </p>
           <p>The three domains are</p>
           <ul>
               <li>Domain archaea</li>
               <li>Domain Bacteria</li>
               <li>Domain Eukarya</li>
           </ul>
           <p>Organisms in domain archaea are</p>
           <ul>
               <li>Prokaryotic – without an organized nucleus</li>
               <li>They have the ability to live in extreme environment</li>
               <li>They cannot be destroyed with antibodies</li>
           </ul>
           <p>Organisms in domain bacteria</p>
           <ul>
               <li>Prokaryotic</li>
               <li>Pathogenic</li>
               <li>Sensitive to antibodies</li>
               <li>They can be found in every where in the environment</li>
               <li>They are abundant group of organisms </li>
               <li>Bacteria and cyanobacteria belong to this group </li>
           </ul>
           <p>Organisms of domain eukarya</p>
           <ul>
               <li>Eukaryotic cellular organisms</li>
               <li>Not sensitive to antibodies</li>
               <li>Live in different environment</li>
           </ul>
           <p>There are four kingdoms</p>
           <ul>
               <li>Kingdom protista </li>
               <li>Kingdom fungi</li>
               <li>Kingdom animalia</li>
               <li>Kingdom plantae</li>
           </ul>
           <p>Organisms that belong to kingdom protista possess eukaryotic cellular organization</p>
           <p>They are unicellular or multicellular organisms without specific tissues </p>
           <p>They live in environments associated with water and mostly are photosynthetic </p>
           <p>Some are heterotopic</p>
           <p>Algae and protozoa belong to this group</p>
           <p>Some harmful and useful effects of protista are </p>
           <ul>
               <li>Algae act as primary food source in the aquatic environment</li>
               <li>Algae help in production of lichens</li>
               <li>To extract alginic acid needed for ice cream production </li>
               <li>Some protozoans cause harmful effects to humans </li>
           </ul>
           <p>Kingdom fungi is a kingdom with chitinous cell wall and eukaryotic cellular organization</p>
           <p>Feature of Bactrica</p>
           <ul>
               <li>Structure</li>
               <li>Microscopic</li>
               <li>Unicellular</li>
               <li>Prokaryotic</li>
               <li>Shape</li>
               <li>Spherical shape </li>
               <li>Rod shape </li>
               <li>Spiral shape</li>
               <li>Coma shape</li>
               <li>Nutrition</li>
               <li>Mostly heterotopic but cyanobacteria are autotrophic</li>
               <li>Reproduction</li>
               <li>Mostly perform asexual reproduction</li>
               <li>Distribution </li>
               <li>Almost everywhere </li>
           </ul>
           <p>Feature of Potistia</p>
           <ul>
               <li>Structure</li>
               <li>Most are microscopic </li>
               <li>(some red algae have large body ) </li>
               <li>Eukaryotic</li>
               <li>Shape</li>
               <li>Leaf like </li>
               <li>Horse shape </li>
               <li>Shoe shape</li>
               <li>Nutrition</li>
               <li>Algae is autotrophic other animals are heterotopic</li>
               <li>Reproduction</li>
               <li>Reproduction asexually </li>
               <li>Distribution </li>
               <li>Marine water</li>
               <li>Freshwater</li>
               <li>dump soil</li>
               <li>Inside of organisms </li>
           </ul>
           <p>Feature of Fungi</p>
           <ul>
               <li>Structure</li>
               <li>Microscopic</li>
               <li>(Mushroom reproductive organ can be seen )</li>
               <li>Eukaryotic</li>
               <li>Shape</li>
               <li>Leaf like </li>
               <li>Horse shape </li>
               <li>Shoe shape</li>
               <li>Nutrition</li>
               <li>All are heterotopic</li>
               <li>Reproduction</li>
               <li>Mostly perform asexual reproduction</li>
               <li>Distribution </li>
               <li>Organic matter </li>
               <li>Living body </li>
           </ul>
           <p>Plants can be divided into two such as </p>
           <ul>
               <li>Flowering plant</li>
               <li>Non flowering plant </li>
           </ul>
           <p>Flowering plant can be divided into two </p>
           <ul>
               <li>Dicots</li>
               <li>Monocots</li>
           </ul>
           <p>Non flowering plants can be divided into two </p>
           <ul>
               <li>Seeded plants</li>
               <li>Seedless plants</li>
           </ul>
           <p>Features of non flowering seedless plant </p>
           <ul>
               <li>Structure </li>
               <li>Small to large size plants </li>
               <li>Some plants lack tissue differentiation</li>
               <li>No stem leaves and root  </li>
               <li>These plants are known as thallus </li>
               <li>Some plants possess vascular tissue</li>
               <li>Shape </li>
               <li>Thalloid body or fern like shape </li>
               <li>Nutrition</li>
               <li>All are autotrophic and photosynthetic</li>
               <li>Reproduction </li>
               <li>Asexual reproduction</li>
               <li>sexual reproduction</li>
               <li>Fragmentation of vegetative parts</li>
               <li>Distribution</li>
               <li>Terrestrial environment with low sunlight</li>
           </ul>
           <p>Features of flowering plants</p>
           <ul>
               <li>Structure </li>
               <li>Tissue differentiation </li>
               <li>Vascular tissue</li>
               <li>Root stem and leaves are present</li>
               <li>Shape </li>
               <li>Large in size</li>
               <li>Most of them are trees </li>
               <li>Woody stems</li>
               <li>Some are sherbs </li>
               <li>Nutrition </li>
               <li>All are autotrophic and photosynthetic  </li>
               <li>Reproduction </li>
               <li>Sexual reproduction by seed</li>
               <li>Asexual reproduction by spores</li>
               <li>Distribution</li>
               <li>Terrestrial environment </li>
           </ul>
           <p>Features of monocots  </p>
           <ul>
               <li>A single seed coat  </li>
               <li>Stem are unbranched </li>
               <li>Fibrous root system </li>
               <li>Parallel ventilation </li>
               <li>Trimerous flowers</li>
               <li>No secondary growth</li>
               <li>Shape </li>
               <li>Diameter of the stem is even </li>
           </ul>

           <p>Features of dicots </p>
           <ul>
               <li>Two seed coats  </li>
               <li>Stem is branched</li>
               <li>Tap root system</li>
               <li>Reticular ventilation </li>
               <li>Tera flowers</li>
               <li>Secondary growth </li>
               <li>Base is broad  </li>
               <li>Tip is thin </li>
           </ul>
           <p>Kingdom animalia can be divided into two</p>
           <ul>
               <li>Vertebrates</li>
               <li>Invertebrates</li>
           </ul>
           <p>Invertebrates can be divided into 5 main groups </p>
           <ul>
               <li>Cnidaria</li>
               <li>Mollusca</li>
               <li>Annelida</li>
               <li>Arthropoda</li>
               <li>Echinodermata</li>
           </ul>
           <p>Features of cnidaria</p>
           <ul>
               <li>All of them are marine and mostly marine few of them are fresh water dwellers</li>
               <li>Multicellular body made up of two germinal layers </li>
               <li>A cavity present in the body known as coelenteron acts as a digestive system </li>
               <li>There are two forms such medusa and polyp ,Medusa can move while phylp attach to surfaces</li>
               <li>There radial symmetry </li>
               <li>They use cyindocits to paralyze small creatures and eat them </li>
               <li>Asexual reproduction is done through budding and also sexual reproduction</li>
           </ul>
           <p>Features of Annelida </p>
           <ul>
               <li>Live in terrestrial , freshwater and marine water environment </li>
               <li>multicellular triploblastic and soft bodied animals </li>
               <li>They body is divided into head , muscular foot and visceral mass</li>
               <li>The body is monitored by moucurs </li>
               <li>Some Mollusks possess internal and external shell made up calcium carbonate </li>
               <li>show sexual reproduction most of them are unisexual</li>
           </ul>
           <p>Features of Mollusca  </p>
           <ul>
               <li>Live in terrestrial , freshwater and marine water environment</li>
               <li>multicellular triploblastic and soft bodied animals </li>
               <li>They body is divided into head , muscular foot and visceral mass </li>
               <li>The body is monitored by moucurs </li>
               <li>Some Mollusks possess internal and external shell made up calcium carbonate </li>
               <li>show sexual reproduction most of them are unisexual</li>
           </ul>
           <p>Features of arthropods </p>
           <ul>
               <li>Live in marine terrestrial and freshwater environment</li>
               <li>triploblastic , coedomcc and possess jointed limbs </li>
               <li>There is a chitinous cuticle on the body it act as a exoskeleton </li>
               <li>some poses special wings </li>
               <li>Body shows a bilateral symmetry</li>
               <li>sexual dimorphism</li>
               <li>sexual reproduction</li>
           </ul>
           <p>Features of Econidermates</p>
           <ul>
               <li>All are marine </li>
               <li>Triploblastic coelomatic </li>
               <li>possess sharp spinny body coventry </li>
               <li>Body is star shape </li>
               <li>Water vascular system</li>
               <li>Tube feet for locomotion and respiration </li>
               <li>Heart ,brain and eyes are absent </li>
               <li>Pentaradial symmetry</li>
               <li>sexual dimorphism </li>
               <li>sexual reproduction</li>
           </ul>
           <p>Vertebrates are organisms with a backbone </p>
           <p>Vertebrates Can be divided into five groups such as </p>
           <ul>
               <li>Pices</li>
               <li>Amphibia</li>
               <li>Reptilia</li>
               <li>Aves</li>
               <li>Mammalia</li>
           </ul>
           <p>Features of pisces</p>
           <ul>
               <li>posses a bony or cartilage endoskeleton</li>
               <li>body is streamlined shape which gives them the ability to swim in water </li>
               <li>Body covered in scales</li>
               <li>posses fins</li>
               <li>two chambered heart</li>
               <li>Respiration is done through gills</li>
               <li>cooled blood animals</li>
               <li>eyes without eyelids</li>
           </ul>
           <p>The pisces can be divided into two according to their exoskeleton</p>
           <ul>
               <li>chondrichthyes -- skeleton made up of cartilages </li>
               <li>Osteichthyes -- skeleton made up of bone </li>
           </ul>
           <p>Features of Amphibia </p>
           <ul>
                <li>Water is essential to complete lifestyle</li>
                <li>possess metamorphosis</li>
                <li>posses a thin moucurs skin with glands</li>
                <li>Pentadactyl limbs</li>
                <li>Three chambered hearts</li>
                <li>Respiration is done by Lungs moist skin and Buccal cavity </li>
                <li>cold blooded </li>
           </ul>
           <p>Features of Reptilia</p>
           <ul>
               <li>Dry skin without glands</li>
               <li>posses scales on skin</li>
               <li>Pentadactyl limbs </li>
               <li>Heart with two atria and incompletely divided ventricles </li>
               <li>respiration through lungs</li>
               <li>Possess internal fertilization</li>
               <li>Cold blooded animals</li>
           </ul>
           <p>Features of Aves</p>
           <ul>
               <li> Poses a light bony endoskeleton</li>
               <li>posses streamline body</li>
               <li>Skin is covered by feathers </li>
               <li>Scales are restricted to legs</li>
               <li>Posses a beak </li>
               <li>Pentadactyl limbs</li>
               <li>Four chambered hearts</li>
               <li>Warm blooded</li>
           </ul>
           <p>Features of Mammalia </p>
           <ul>
               <li>Skin is covered by hair </li>
               <li>possess Mammary glands </li>
               <li>Posses ear lobes</li>
               <li>Four chambered hearts</li>
               <li>Complete double circulation</li>
               <li>Biconcave red blood cells lacking a nucleus </li>
               <li>warm blooded animals </li>
               <li>Testes are present outside the body</li>
               <li>internal fertilization</li>
               <li>posses a placenta </li>
           </ul>
           <p>Nomenclature is used to name animals scientifically </p>
           <p>A successful Nomenclature was introduced by a swedish natural scientists called carolus Linnaeus in 1753</p>
           <p>As it contained two epitelial it is known as binomial Nomenclature</p>
           <p>The methodology of naming an organisms is regulated by The International commission of Botanical Nomenclature (ICBN) and the International commission of zoology Nomenclature(ICZN)</p>
           <p>The standard of binomial Nomenclature </p>
           <ul>
               <li>The scientific name of a species is composed of two epithelia </li>
               <li>The first epithelial is genre name and the second ethel is the specific epitelial</li>
               <li>The species name is given in Latin or Greek </li>
               <li>The first letter of generic name is capital </li>
           </ul>
         </section>
         <section class="menu">
            <a href="http://127.0.0.1:8000/ICT/programming/Javascript">Biologhy - Classification_of_animals</a>
        </section>
    </div>
</body>    
</html>