<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opreating system</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/style_Docs.css">
    <style>
        .menu {
            height: 100%; 
            width: 500px;
            position: fixed; 
            z-index: 1; 
            top: 10%; 
            left: 60%;
            background-color: #081b29; 
            overflow-x: hidden; 
            padding-top: 20px;
        }
        .menu a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }
    </style>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Nash</a>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h1>opreating system</h1>
            <p>A computer consist of software , hardware and frimeware</p>
            <p>Any physical componet of the computer with a define shape is know as hardware</p>
            <p>The booting instutions stored in the RAM are know as frimeware </p>
            <h3>How the intial opreations of a computer are perfomed</h3>
            <ul>
                <li>When the user powers up the CPU it atctivates the BIOS (Basic Input Output system )</li>
                <li>The first program activated is POST(Power On Self Test ) using the CMOS ()</li>
                <li>After that it reads the MBR (Master boot recoder )in the boot drive in accodance with the bootstrap loader which is provided by the computer manufactuer</li>
                <li>Then the computer leads in the opreting system to the RAM </li>
                <li>Once this is performed the opreating system takes over the control and display a user interface to the user </li>
            </ul>
            <p>The processes of loading the opreating system into the RAM is know as booting </p>
            <p>Software is a set of instrutions given to the computer to perform a task </p>
            <p>System software can be divivded into three parts </p>
            <ul>
                <li>Opreating system </li>
                <li>Utillity system </li>
                <li>Lanaguge translators </li>
            </ul>
            <p>The opreating system provides the user the user to utillize the funcation of a computer by managing the hardware and software in it </p>
            <p>These are used to manage ana analzye the software in the computer , the utlltiy software differe from the application software in their complexity and their opreationally activivtes </p>
            <p>A computer program (software) is made up of a set of insturtions are witten in high level langauge which are very colose to human langauge </p>
            <p>some examples of os </p>
            <ul>
                <li>mircosoft os </li>
                <li>apple mac os</li>
                <li>ubuntu os</li>
                <li>android os</li>
            </ul>
            <p>opreating system can be classified acoding to their funcationallity </p>
            <ul>
                <li>single user opreating system </li>
                <li>multi user opeating system </li>
                <li>muliti tasking opreating system</li>
                <li>real tim opreting system </li>
            </ul>
            <p>the opreating system which provided srivices to one person at a time is known as single user opreating system </p>
            <p>the opreating system which allows muliple user to use at a time is known as a muliti user opreating system </p>
            <p>the opreating system allows to run mulitiplr processes at the same time is called a muliti tasking opreating system </p>
            <p>real time operating system are systems which gives the output in real time without an visisble delay </p>
            <p>services of an opreating system </p>
            <ul>
                <li>managing the hardware of a computer </li>
                <LI>provideing an interface </LI>
            </ul>
            <P>hardware of a computer are mangaged using the following process </P>
            <ul>
                <li>processes management</li>
                <li>memory management</li>
                <li>device management</li>
                <li>file management</li>
                <li>security management</li>
                <li>network management</li>
            </ul>
            <p>we call a running computer program or part of a program a process</p>
            <p>all activites in a computer run as ethrer a single process aor as mulitiple process </p>
            <p>resources management activites are such as allcation of CPU time , allocation of memory and allocation of i/o devices to each process </p>
            <p>odering of the processes (accoding to a sequence ) is also perfoemed uder this management </p>
            <p>memeroy plays a huge role in the funcation of a computer</p>
            <p>the input data are store in the RAM before being transfered to the CPU and processed data are also stored in the RAM before being sent to the output devices</p>
            <p>systematic mangement of the memory is vital for the proper funcationing of a computer</p>
            <p>the opreating system utilie both the primary memory and thes econdary memeory effeciently inoder to manage the memory fot=r various process</p>
        </section>
        <section class="menu">
            <a href="http://127.0.0.1:8000/ICT/genaration of computres">ICT - genaration of computres</a>
            <a href="http://127.0.0.1:8000/ICT/sdlc">ICT - system development life cycle</a>
            <a href="http://127.0.0.1:8000//ICT/Opreating_system">ICT - operating system</a>
        </section>
</body>
</html>