<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASH</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>

    <header>
        <h2 class="logo">NASH</h2>
        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>

    <section class="parallex">
        <div class="container">
            <div class="card">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>33<span>%</span></h2>
                        </div>
                        <h2 class="text">Science</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>0 <span>%</span></h2>
                        </div>
                        <h2 class="text">maths</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>30 <span>%</span></h2>
                        </div>
                        <h2 class="text">ICT</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>2 <span>%</span></h2>
                        </div>
                        <h2 class="text">History</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>0 <span>%</span></h2>
                        </div>
                        <h2 class="text">litreature</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>0 <span>%</span></h2>
                        </div>
                        <h2 class="text">english</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>0 <span>%</span></h2>
                        </div>
                        <h2 class="text">-</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>0 <span>%</span></h2>
                        </div>
                        <h2 class="text">-</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>0 <span>%</span></h2>
                        </div>
                        <h2 class="text">-</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>0 <span>%</span></h2>
                        </div>
                        <h2 class="text">-</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec">
        <div class="container-bar">
            <div class="skills">
                <h2>Physic</h2>
                <div class="progress-bar">
                    <div class="html"><span>5%</span></div>
                </div>
                <h2>Biologhy</h2>
                <div class="progress-bar">
                    <div class="css"><span>0%</span></div>
                </div>
                <h2>chemistry</h2>
                <div class="progress-bar">
                    <div class="chem"><span>45%</span></div>
                </div>
                <h2>Pre-histroic Era</h2>
                <div class="progress-bar">
                    <div class="python"><span>100%</span></div>
                </div>
                <h2>Phroto historic era</h2>
                <div class="progress-bar">
                    <div class="react"><span>0%</span></div>
                </div>
                <h2>Early-historic era</h2>
                <div class="progress-bar">
                    <div class="history1"><span>0%</span></div>
                </div>
                <h2>Phroto historic era</h2>
                <div class="progress-bar">
                    <div class="history2"><span>0%</span></div>
                </div>
                <h2>The ancient soceity of sri lanka</h2>
                <div class="progress-bar">
                    <div class="history3"><span>100%</span></div>
                </div>
                <h2>The social organization of ancient soceity</h2>
                <div class="progress-bar">
                    <div class="history4"><span>100%</span></div>
                </div>
                <h2>The ancient science and tecnologhy</h2>
                <div class="progress-bar">
                    <div class="history5"><span>100%</span></div>
                </div>
                <h2>Opreating_system</h2>
                <div class="progress-bar">
                    <div class="ict1"><span>100%</span></div>
                </div>
                <h2>System development life cycle</h2>
                <div class="progress-bar">
                    <div class="ict2"><span>100%</span></div>
                </div>
                <h2>Generation of computers
                </h2>
                <div class="progress-bar">
                    <div class="ict3"><span>100%</span></div>
                </div>
                <h2>JavaScript</h2>
                <div class="progress-bar">
                    <div class="ict4"><span>45%</span></div>
                </div>
                <h2>Arrangements-of-particals</h2>
                <div class="progress-bar">
                    <div class="ict3"><span>100%</span></div>
                </div>
                <h2>Atoms</h2>
                <div class="progress-bar">
                    <div class="ict3"><span>100%</span></div>
                </div>
                <h2>Speration-Method</h2>
                <div class="progress-bar">
                    <div class="ict3"><span>100%</span></div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>