<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
    <link rel="stylesheet" href="../static/style_Docs.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Nash</a>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h1>Nash Docs</h1>
            <h3>welcome to Nash documatation</h3>
            <p>This the Offical Nash website documantation From this documantation you can find information 
                about many felids of study . This documantationis based on my own knowledge and opions if 
                there are false facts please let me know  </p>
            <p>FEEL FREE TO EXPLORE AS MUCH AS YOUR HEART CONTENTS </p>
            <h1>Links</h1>

            <h2>Main subjects</h2>
            <h3>Science</h3>
            <a href="http://127.0.0.1:8000/docs/science">Click here</a>
            <h3>Maths</h3>
            <a href="http://127.0.0.1:8000/docs/history">Click here</a>
            <h3>History</h3> 
            <a href="http://127.0.0.1:8000/docs/history">Click here</a>
            <h3>ICT</h3>
            <a href="http://127.0.0.1:8000/docs/ict">Click here</a>
            <h3>Litreature</h3>
            <a href="http://127.0.0.1:8000/docs/litreature">Click here</a>
            <h3>English</h3>
            <a href="http://127.0.0.1:8000/docs/english">Click here</a>
            <h3>Click the link below to explore some more articals </h3>
            <a href="http://127.0.0.1:8000/book_summaries">click here</a>

        </div>
    </section>
</body>
</html>