<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/style_home.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Nash</a>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h1>HI ! Welocme</h1>
            <h3>Welocme to My second Brain</h3>
            <p>welocme to My second Brain. This webiste is portol of documatation on borad subjects and academic disciplines </p>
            <p>In addition to documatation we also provide book summaries </p>
        </div>
    </section>
</body>
</html>