<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_home.css">
    <title>portfoilio</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Nash</a>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>

    <section class="home">
        <div class="home-content">
            <h1>Hi i am althaf </h1>
            <h3>PRO NERD</h3>
            <p>My name is <strong>MOHAMMED ALTHAF</strong> i am a software enginner and a BIG NERD. I have stuided and understand many disciples. </p>
            <p>I am basciallly type this as a memory and a capsule for my knoledege</p>
            <div class="btn-box">
               <a href="http://127.0.0.1:8000/Docs">Docs </a>
               <a href="http://127.0.0.1:8000/about">About</a>
            </div>
        </div>
    </section>
</body>
</html>