<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript</title>
    <style>
        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins" , "sans-serif";
        }
    
        body{
            background: #081b29;
            color: #ededed;
            overflow: unset;
        }
    
        .header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
    
    
        .logo{
            font-size: 25px;
            color: #ededed;
            text-decoration: none;
            font-weight: 600;
        }
    
        .navbar a {
            font-size: 18px;
            color: #ededed;
            text-decoration: none;
            font-weight: 500;
            margin-left: 35px;
            transition: 3s;
        }
    
        .navbar a:hover{
            color: #00abf0;
        }
    
        .home-content{
            max-width: 1000px;
            height: 80vh;
            padding: 10% 10% 10% 10% ;
        }
    
        .home-content h1{   
            font-size: 56px;
            font-weight: 700;
            line-height: 1.2;
        }
    
        .home-content h1{
            font-size: 56px;
            font-weight: 700;
            line-height: 1.2;
        }
    
        .home-content h3{
            font-size: 32px;
            font-weight: 700;
            color: #00abf0;
        }
    
        .home-content p{
            font-size: 25px;
            color: #ededed;
            text-decoration: none;
            font-weight: 500;
            margin: 10px 0px 10px;
        }
    
        .home-content a{
            font-size: 25px;
            color: aqua;
            text-decoration: none;
            font-weight: 600;
        }
    
        .home-content li{
            font-size: 25px;
            color: aquamarine;
            text-decoration: none;
            font-weight: 600;
        }
        .code{
            background: blue;
        }
    </style>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Nash</a>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h1>JavaScript</h1>
            <p>JavaScript is the world's most popular programming language.</p>
            <p>JavaScript is the programming language for the Web.</p>
            <p>JavaScript is easy to learn.</p>
            <p>javascript is by far one of most essential in a web developer</p>
            <p>javascript can use for change an HTML element </p>
            <p>to get by ID </p>
            <div class="code">
                <p>document.getElementById("demo")</p>
            </div>
            <p>to get by class</p>
            <div class="code">
                <p>document.getElementByclass("demo")</p>
            </div>
            <p>in the HTML document we can use the script tag to type javascript code in it</p>
            <p>Placing scripts in external files has some advantages:</p>
            <ul>
                <li>It separates HTML and code</li>
                <li>It makes HTML and JavaScript easier to read and maintain</li>
                <li>Cached JavaScript files can speed up page loads</li>
            </ul>
            <p>JavaScript can "display" data in different ways:</p>
            <p>Writing into an HTML element, using innerHTML.</p>
            <div class="code"><p>document.getelmentbyid("demo").innerHTML("hello)</p></div>
            <p>Writing into the HTML output using document.write().</p>
            <div class="code"><p>document.write()</p></div>
            <p>Writing into an alert box, using window.alert().</p>
            <div class="code"><p>window.alert().</p></div>
            <p>Writing into the browser console, using console.log().</p>
            <div class="code"><p>console.log().</p></div>
            <p>To access an HTML element, JavaScript can use the document.getElementById(id) method.</p>
            <p>Changing the innerHTML property of an HTML element is a common way to display data in HTML.</p>
            <p>Using document.write() after an HTML document is loaded, will delete all existing HTML:</p>
            <p>In JavaScript, the window object is the global scope object. This means that variables, properties, and methods by default belong to the window object. This also means that specifying the window keyword is optional:</p>
            <p>for debugging process we use consle.log</p>
            <p>A computer program is a list of "instructions" to be "executed" by a computer.</p>
            <p>In a programming language, these programming instructions are called statements.</p>
            <p>A JavaScript program is a list of programming statements.</p>
            <p>In HTML, JavaScript programs are executed by the web browser.</p>
            <P>JavaScript programs (and JavaScript statements) are often called JavaScript code.</P>
            <P>JavaScript programs (and JavaScript statements) are often called JavaScript code.</P>
            <P>JavaScript ignores multiple spaces. You can add white space to your script to make it more readable.</P>
            <P>For best readability, programmers often like to avoid code lines longer than 80 characters.</P>
            <P>If a JavaScript statement does not fit on one line, the best place to break it is after an operator:</P>
            <P>Example</P>
            <ul>
                <li>let x, y, z;    // Statement 1</li>
                <li>x = 5;          // Statement 2</li>
                <li>y = 6;          // Statement 3</li>
                <li>z = x + y;      // Statement 4</li>
            </ul>
            <p>A computer program is a list of "instructions" to be "executed" by a computer.</p>
            <p>In a programming language, these programming instructions are called statements.</p>
            <p>A JavaScript program is a list of programming statements.</p>
            <p>In HTML, JavaScript programs are executed by the web browser.</p>
            <p>JavaScript statements are composed of:</p>
            <p>Values, Operators, Expressions, Keywords, and Comments.</p>
            <p>This statement tells the browser to write "Hello Dolly." inside an HTML element with id="demo":</p>
            <div class="code"><p>document.getElementById("demo").innerHTML = "Hello Dolly.";</p></div>
            <p>Most JavaScript programs contain many JavaScript statements.</p>
            <p>The statements are executed, one by one, in the same order as they are written.</p>
            <p>JavaScript programs (and JavaScript statements) are often called JavaScript code.</p>
            <p>Semicolons separate JavaScript statements.</p>
            <p>A JavaScript program is a list of programming statements.</p>
            <p>The JavaScript syntax defines two types of values:</p>
            <p>Add a semicolon at the end of each executable statement:</p>
            <p>Examples</p>
            <ul>
                <li>let a, b, c;  // Declare 3 variables</li>
                <li>a = 5;        // Assign the value 5 to a</li>
                <li>b = 6;        // Assign the value 6 to b</li>
                <li>c = a + b;    // Assign the sum of a and b to c</li>
            </ul>
            <p>When separated by semicolons, multiple statements on one line are allowed:</p>
            <p>a = 5; b = 6; c = a + b;</p>
            <p>On the web, you might see examples without semicolons.</p>
            <p>Ending statements with semicolons is not required, but highly recommended.</p>
            <p>JavaScript ignores multiple spaces. You can add white space to your script to make it more readable.</p>
            <p>The following lines are equivalent:</p>
            <ul>
                <li>let person = "Hege";</li>
                <li>let person="Hege";</li>
            </ul>
            <p>A good practice is to put spaces around operators ( = + - * / ):</p>
            <p>let x = y + z;</p>
            <p>JavaScript Line Length and Line Breaks</p>
            <p>For best readability, programmers often like to avoid code lines longer than 80 characters.</p>
            <p>If a JavaScript statement does not fit on one line, the best place to break it is after an operator:</p>
            <p>JavaScript statements can be grouped together in code blocks, inside curly brackets {...}.</p>
            <p>The purpose of code blocks is to define statements to be executed together.</p>
            <p>One place you will find statements grouped together in blocks, is in JavaScript functions:</p>
            <ul>
                <li>var	     ------ Declares a variable</li>
                <li>var	     ------ Declares a variable</li>
                <li>var	     ------ Declares a variable</li>
                <li>if	     ------ Marks a block of statements to be executed on a condition</li>
                <li>switch   ------	Marks a block of statements to be executed in different cases</li>
                <li>for	     ------ Marks a block of statements to be executed in a loop</li>
                <li>function ------	Declares a function</li>
                <li>return	 ------ Exits a function</li>
                <li>try	     ------ Implements error handling to a block of statements</li>
            </ul>
            <p>JavaScript keywords are reserved words. Reserved words cannot be used as names for variables.#</p>
            <ul>
                <li>Fixed values</li>
                <li>Variable values</li>
            </ul>
            <p>Variable values are called Variables.</p>
            <p>The two most important syntax rules for fixed values are:</p>
            <ul>
                <li>1. Numbers are written with or without decimals:</li>
                <li>2. Strings are text, written within double or single quotes:</li>
            </ul>
            <p>In a programming language, variables are used to store data values.</p>
            <p>JavaScript uses the keywords var, let and const to declare variables.</p>
            <p>An equal sign is used to assign values to variables.</p>
            <p>JavaScript uses arithmetic operators ( + - * / ) to compute values:</p>
            <p>JavaScript uses an assignment operator ( = ) to assign values to variables:</p>
            <p>An expression is a combination of values, variables, and operators, which computes to a value.</p>
            <p>The computation is called an evaluation.</p>
            <p>The values can be of various types, such as numbers and strings.</p>
            <p>Not all JavaScript statements are "executed".</p>
            <p>Code after double slashes // or between /* and */ is treated as a comment.</p>
            <p>Identifiers are JavaScript names.</p>
            <p>Identifiers are used to name variables and keywords, and functions.</p>
            <p>The rules for legal names are the same in most programming languages.</p>
            <p>A JavaScript name must begin with:</p>
            <ul>
                <li>A letter (A-Z or a-z)</li>
                <li>A dollar sign ($)</li>
                <li>Or an underscore (_)</li>
            </ul>
            <p>Subsequent characters may be letters, digits, underscores, or dollar signs.</p>
            <p>Multi-line comments start with /* and end with */.</p>
            <p>Any text between /* and */ will be ignored by JavaScript.</p>
            <p>It is most common to use single line comments.</p>
            <p>Block comments are often used for formal documentation.</p>
            <p>Adding // in front of a code line changes the code lines from an executable line to a comment.</p>
            <p>JavaScript Variables can be declared in 4 ways:</p>
            <ul>
                <li>Automatically</li>
                <li>Using var</li>
                <li>Using let</li>
                <li>Using const</li>
            </ul>
            <p>It is considered good programming practice to always declare variables before use.</p>
            <p>The var keyword was used in all JavaScript code from 1995 to 2015.</p>
            <p>The let and const keywords were added to JavaScript in 2015.</p>
            <p>The var keyword should only be used in code written for older browsers.</p>
            <p>When to Use var, let, or const?</p>
            <ul>
                <li> 1. Always declare variables</li>
                <li> 2. Always use const if the value should not be changed</li>
                <li>3. Always use const if the type should not be changed (Arrays and Objects)</li>
                <li>4. Only use let if you can't use const</li>
                <li>5. Only use var if you MUST support old browsers.</li>
            </ul>
            <p>All JavaScript variables must be identified with unique names.</p>
            <p>These unique names are called identifiers.</p>
            <p>Identifiers can be short names (like x and y) or more descriptive names (age, sum, totalVolume).</p>
            <p>The general rules for constructing names for variables (unique identifiers) are:</p>
            <ul>
                <li>Names can contain letters, digits, underscores, and dollar signs.</li>
                <li>Names must begin with a letter.</li>
                <li>Names can also begin with $ and _ (but we will not use it in this tutorial).</li>
                <li>Names are case sensitive (y and Y are different variables).</li>
                <li>Reserved words (like JavaScript keywords) cannot be used as names.</li>
            </ul>
            <p>The "equal to" operator is written like == in JavaScript.</p>
            <p>JavaScript variables can hold numbers like 100 and text values like "John Doe".</p>
            <p>In programming, text values are called text strings.</p>
            <p>JavaScript can handle many types of data, but for now, just think of numbers and strings.</p>
            <p>Strings are written inside double or single quotes. Numbers are written without quotes.</p>
            <p>If you put a number in quotes, it will be treated as a text string.</p>
            <p>You cannot re-declare a variable declared with let or const.</p>
            <p>This will not work:</p>
            <p>If you put a number in quotes, the rest of the numbers will be treated as strings, and concatenated.</p>
            <p>Using the dollar sign is not very common in JavaScript, but professional programmers often use it as an alias for the main function in a JavaScript library.</p>
            <p>In the JavaScript library jQuery, for instance, the main function $ is used to select HTML elements. In jQuery $("p"); means "select all p elements".</p>
            <p>Using the underscore is not very common in JavaScript, but a convention among professional programmers is to use it as an alias for "private (hidden)" variables.</p>
            <p>The let keyword was introduced in ES6 (2015)</p>
            <p>Variables defined with let cannot be Redeclared</p>
            <p>Variables defined with let must be Declared before use</p>
            <p>Variables defined with let have Block Scope</p>
            <p>Variables defined with let can not be redeclared.</p>
            <p>Before ES6 (2015), JavaScript had Global Scope and Function Scope.</p>
            <p>ES6 introduced two important new JavaScript keywords: let and const.</p>
            <p>These two keywords provide Block Scope in JavaScript.</p>
            <p>Variables declared inside a { } block cannot be accessed from outside the block:</p>
            <p>Variables declared with the var keyword can NOT have block scope.</p>
            <p>Variables defined with var are hoisted to the top and can be initialized at any time.</p>
            <p>Variables defined with let are also hoisted to the top of the block, but not initialized.</p>
            <p>Meaning: Using a let variable before it is declared will result in a ReferenceError:</p>    
            <p>The const keyword was introduced in ES6 (2015)</p>
            <p>Variables defined with const cannot be Redeclared</p>
            <p>Variables defined with const cannot be Reassigned</p>
            <p>Variables defined with const have Block Scope</p>
            <p>When to use JavaScript const?</p>
            <li>Always declare a variable with const when you know that the value should not be changed.</li>
            <p>Use const when you declare:</p>
            <ul>
                <li>A new Array</li>
                <li>A new Object</li>
                <li>A new Function</li>
                <li>A new RegExp</li>
                <li>Constant Objects and Arrays</li>
            </ul>
            <p>The keyword const is a little misleading.</p>
            <p>It does not define a constant value. It defines a constant reference to a value.</p>
            <p>Because of this you can NOT:</p>
            <ul>
                <li>Reassign a constant value</li>
                <li>Reassign a constant array</li>
                <li>Reassign a constant object</li>
            </ul>
            <p>But you CAN:</p>
            <ul>
                <li>Change the elements of constant array</li>
                <li>Change the properties of constant object</li>
            </ul>
            <p>Variables defined with var are hoisted to the top and can be initialized at any time.</p>
            <p>If you want to learn more about hoisting, study the chapter JavaScript Hoisting.</p>
            <p>Variables defined with const are also hoisted to the top, but not initialized.</p>
            <p>Meaning: Using a const variable before it is declared will result in a ReferenceError:</p>
        </div>
    </section>
</body>
</html>