<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/style_Docs.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Nash</a>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h1>physics</h1>
            <ul>
                <li><a href="http://127.0.0.1:8000/science/physics/Force">Force - physics</a></li>
                <li><a href="http://127.0.0.1:8000/science/physics/Geometric_optics"> Geometric_optics - physics</a></li>
                <li><a href="http://127.0.0.1:8000/science/physics/motion">Motion - physics</a></li>
                <li><a href="http://127.0.0.1:8000/science/physics/preasure">Preasure - physics</a></li>
                <li><a href="http://127.0.0.1:8000/science/physics/Density">Density - physics</a></li>
                <li><a href="http://127.0.0.1:8000/science/physics/Momeuntum_and_gravity">Momeuntum_and_gravity - physics</a></li>
                <li><a href="http://127.0.0.1:8000/science/physics/Newtons_laws">Newtons_laws - physics</a></li>
                <li><a href="http://127.0.0.1:8000/science/physics/simple_machines">simple_machines - physics</a></li>
            </ul>
        </div>
    </section>
</body>
</html>