<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ancient science and tecnologhy </title>
   <style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , "sans-serif";
    }

    body{
        background: #081b29;
        color: #ededed;
        overflow: unset;
    }

    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }


    .logo{
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
    }

    .navbar a {
        font-size: 18px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 3s;
    }

    .navbar a:hover{
        color: #00abf0;
    }

    .home{
        height: 80vh;
        padding: 10% 10% 10% 10% ;
    }

    .home-content{
        max-width: 600px;
    }

    .home-content h1{   
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
    }

    .home-content h1{
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
    }

    .home-content h3{
        font-size: 32px;
        font-weight: 700;
        color: #00abf0;
    }

    .home-content p{
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin: 10px 0px 10px;
    }

    .home-content a{
        font-size: 25px;
        color: aqua;
        text-decoration: none;
        font-weight: 600;
    }

    .home-content li{
        font-size: 25px;
        color: aquamarine;
        text-decoration: none;
        font-weight: 600;
    }
   </style>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Nash</a>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>
    <div class="home">
        <section class="home-content">
           <h1>The Ancient science and tecnologhy</h1>
           <p>(History Grade 10 lesson 05 )</p>
           <p>@This contain the in depth information on the subject @</p>
           <p>It discovered that ancient sri lanka has used science and had a proper</p>
           <p>The pre historic man made stone tools such as symmetrical tools which were made of alabaster named ground glass</p>
           <p>This technology with which tools are made after removing stone splinters by using much power is called pleasure slanting</p>
           <p>This knowledge developed to a massive in the protohistoric era</p>
           <p>Some of the knowledge which had prevailed in the protohistoric era</p>
           <p>The clay tube burials were made up of clay in the shape of a huge basin or boat</p>
           <p>The tombs which were used to burial were built with the minimum height and a suitable thickness</p>
           <p>They built the tank wall perpendicular to the ground to keep the balance</p>
           <p>They have used the same technology used to build a wall</p>
           <ul>
               <li>evidence - a house in udaranchamdama in the rathnapura district</li>
           </ul>
           <p>A clay tube burial has been fixed in order to get our inside it</p>
           <ul>
               <li>the skeleton in a tomb which belonged to 1350 BC</li>
           </ul>
           <p>The people have shown their ability to arrange things</p>
           <p>A stone parapet which was excavated in kitulgala belilena</p>
           <p>It must have been used to hold a cover made of leaves of trees</p>
           <p>Some of the key features of the house which was excavated in udaraca hamadama</p>
           <p>It floor has been made up of reinforcing it by stewing strong piece of stone and applying clay on it</p>
           <p>The wall was built in the middle of the house to separate the front and back part</p>
           <p>The roof was attached with leaves such as illuk</p>
           <p>Pottery was practiced by ancient technology</p>
           <ul>
               <li>Sakaporuwa - potters wheel</li>
           </ul>
           <p>The potter's wheel is a round board which can be rotated</p>
           <p>Steps to make earthenware</p>
           <ul>
               <li>Find a suitable clay type</li>
               <li>Season the clay</li>
               <li>Make the earthenware and burn it</li>
           </ul>
           <p>In order to make clay they had made a stove</p>
           <p>They also had color the pots</p>
           <p>clay pots found in ranchamadama</p>
           <p>It has a white background with orange lines</p>
           <p>The natural red color brown stone had been used to make them</p>
           <p>Before the clay pots were made clay was dissolved an kept until tiny parts were deposited</p>
           <p>The people who lived in the dry zone collected water</p>
           <p>Collecting and managing the water structure of the dry zone is known as water management</p>
           <p>One major feats of water technology is the technology of building large scale tanks </p>
           <p>The first tanks was built by a minister named anuratha</p>
           <p>This tank was built in anuradhapura</p>
           <p>Later king pandukabhaya built these tanks</p>
           <ul>
               <li>Gamini wewa</li>
               <li>Abaya wewa</li>
               <li>Jaya wewa</li>
           </ul>
           <p>Abaya wewa present name basawakkulama </p>
           <p>king dutugemunu built tissa wewa</p>
           <p>tissa wewa and abaya wewa was built to convey water from kamdani nadi (River)</p>
           <p>king saddatissa had built 18 tanks </p>
           <p>the jeethevena inscription of king kanisatha tissa revels that there had been three types of tanks which are </p>
           <ul>
               <li>gamika wewa </li>
               <li>maha wewa</li>
               <li>danavu wewa</li>
           </ul>
           <p>gamika wewa are small tanks built in villages </p>
           <p>danava wewa consisted of medium size tanks which depended on the water received through irrigation works </p>
           <p>these were built by pramuka who had private land </p>
           <p>a rock found in kala wewa reveals that there were people with private land </p>
           <ul>
               <li>"kadapi tank belongs to a parmuka named uvajanakaya "</li>
           </ul>
           <p>king vasaba pioneered in constitution of large scale tanks </p>
           <p>he has built 12 canals and 11 tanks</p>
           <p>king vasaba also have constructed underground water tunnels </p>
           <ul>
               <li>mahavamsa as evidence </li>
               <li>" ummanga jala mathikas"</li>
           </ul>
           <p>another pioneer in irrigation works is king mahavamsa </p>
           <p>he built 16 tanks and one canal</p>
           <p>to make the land fertile he made sixteen tanks they are</p>
           <ul>
               <li>mineri maha wewa</li>
               <li>jalur wewa</li>
               <li>kumbalakai tank</li>
               <li>vaartha tank</li>
               <li>Rathamalankada tank</li>
               <li>Thivava tank</li>
               <li>velivel tank</li>
               <li>magal tank</li>
               <li>seeru tank</li>
               <li>mahadaragallanka tank</li>
               <li>kalapahan wewa</li>
           </ul>
           <p>he also built a canal named pubbaratana </p>
           <p>another pioneer is king dhatusena </p>
           <p>he built 18 tanks and yodh ella</p>
           <p>some of the tanks he built are</p>
           <ul>
               <li>madatugama wewa </li>
               <li>kala wewa</li>
               <li>panagama wewa</li>
               <li>yodha wewa</li>
               <li>manamathu wewa</li>
               <li>maddakerya wewa</li>
               <li>maa elya wewa'</li>
           </ul>
           <p>the yodha ella built to convey water from kala wewa to tissa wewa </p>
           <p>king moggallana 2 has built large scale tanks such as puthupoda wewa or nacahduwa wewa</p>
           <p>king aggabodi had made 3 tanks </p>
           <ul>
               <li>sirvadamaka wewa in kurunegala</li>
               <li>kuruncha wewa in muithavi</li>
               <li>mammaduva wewa in veuniya</li>
           </ul>
           <p>in poojawaliya it is said that he has constructed 12 tanks </p>
           <p>one of the great feats is the construction of minepe ella</p>
           <p>the mahaweli river has been intercepted at minepe and the water had been directed via minepe ella to a distance of 29 km in mahaweli river   </p>
           <p>king aggabo irrigation works are</p>
           <ul>
               <li>kantele tank</li>
               <li>giritale tank</li>
           </ul>
           <p>kantale tank is a large reservoir conveying an area of 1310 hector and the dam is about 6879m long </p>
           <p>another great pioneer of irrigation works are king parakramabahu </p>
           <ul>
               <li>the parakrama samudraya</li>
               <li>not a single drop of water should be gone to the sea without any use </li>
               <li>construction and reconstruction of 165 dams</li>
               <li>construction of 3910 canals</li>
               <li>construction of 163 large tanks</li>
               <li>construction of 2376 small tanks </li>
           </ul>
           <p>the benefits incurred by the construction of large scale taanks nd water systems </p>
           <ul>
               <li>it ensured the constant supply of water for agriculture the main occupation of the people</li>
               <li>nourishment of small tanks by diverting excess water in the large scale tanks</li>
               <li>facillication of maximum use of rainwater only during one season of the year and ensuring the prominent supply of water for agricultural needs</li>
               <li>constrution fo canals to convey water from large scale tanks improved of technology methods of delivering water from 	reservoirs</li>
               <li> regular maintenance of the tanks and irrigation works with state support and under the direction of the king</li>
           </ul>
           <p>the challenges faced in constructing a tank</p>
           <p>parts of a tanks</p>
           <p>the dam of the tanks</p>
           <ul>
               <li>the dam of the tank is constructed intercepting a river at a point which two hills were located close to each other on both banks of the river</li>
               <li>the rivers in sri lanka goes dry in one season so using this opportunity they dug the soil and use it to make a dam</li>
               <li>when a river is intercepted by constructing the dam across it</li>
               <li>the upper section of the river is automatically turned into a tank when t is filled with water </li>
               <li>some examples for dams are</li>
               <li>the dam in minneriya wewa </li>
               <li>the dam in parakrama samudraya it is constructed encompassing three reservoirs </li>
               <li>iranamadu wewa </li>
               <li>dambuthula wewa</li>
               <li>thopa wewa</li>
           </ul>
           <p>the sluice </p>
           <ul>
               <li>the sulice is the main outlet point in which the water from the tank is left out to the network of canals </li>
               <li>there are two or more sulice in a tank </li>
               <li>there are two types of sulice</li>
               <li>dry sluice</li>
               <li>wet sulice</li>
               <li>the dry sulice is used when the water level is high </li>
               <li>the wet sulice is constructed at the lower level of the dam of the tank </li>
               <li>it is helping in the releasing of water in the lower level</li>
           </ul>
           <p>the bisokotuwa </p>
           <ul>
               <li>the pressure generated by the volume and the velocity of water from a large and deep tank is variably exerts an  extremely damaging impact on the dam of the tank </li>
               <li>the bisokotuwa is in  the built in the shape of a square well at a point at which the dam of the tank and water level meet to regular or totally stop the impact of the water pressure</li>
           </ul>
           <p>ralapanawa </p>
           <ul>
               <li>it is a relevant or pitching of flat stones slabs on the inner face of the dam of the tank</li>
               <li>it reinforces the dam and act as a wave breaker and resists the action the wave play on the dam</li>
               <li>the point at which the surplus water of the tank is let out </li>
               <li>this is usually constructed with stone slabs and in the form of a gap at a lower point of the dam </li>
               <li>it enables the excess water of the tank to pass over it without causing damage to the dam</li>
           </ul>
           <p>technology used to make dam </p>
           <p>they constructed dams dams at a narrow point of a river water flowing at a slow pace in a meanading track and divert the river water to lands </p>
           <p>at early stages dams were built as temporary structures using timber shafts and branches of tree interwoven into the wooden structure </p>
           <p>as time went by they were able to construct permit and strong structures using giant blocks</p>
           <p>king vasabha built the elahera ela by intercepting the amban ganga </p>
           <p>king agbo 1 constructed the minepe canal by intercepting the mahaweli gaga in menipe </p>
           <p>some of the key features of the construction of canals are</p>
           <ul>
               <li>theses canals were used to convey water from tanks to agricultural lands </li>
               <li>they helped to link a number  of different river basin to create a network  of canals carrying water in different directions</li>
               <li>canals have been constructing a number of canals </li>
               <li>convey water to underground canals</li>
           </ul>
           <p>some techniques and technology used by our ancient kings in irrigation works are </p>
           <ul>
               <li>when the canal is filled with water beyond its capacity it is necessary that the surplus water is released to avoid the damage to the canal</li>
               <li>they constructed stonework at different points along the corridor of the canal </li>
               <li>all sluices used to distribute either side of the canal of its long pah had always been paved with strong granite slabs </li>
           </ul>
           <p>king vasaba had constructed underground tunnels</p>
           <p>construction of ponds</p>
           <p>our ancient kings had a knowledge on building ponds </p>
           <p>the legend has it the prince vijaya and his entourage upon landing on the shores of sri lanka approached a pond near a site where kuveni was engaged in spring and there kuveni took them into custody </p>
           <p>They used ponds for several purpose such as</p>
           <ul>
               <li>Collection of water in small scale for day to day needs </li>
               <li>Construction of ponds for beautification of the environment </li>
               <li>Construction of ponds as a measure to keep the environment cool in dry weather </li>
               <li>Constructions of ponds in temple complex for the use of bikkus </li>
           </ul>
           <p>For the collection and storage of water</p>
           <p>The storm water fall on the sapthala maluwa of the abhayagiriya dagobah had been directed to four pondsvia velli maluwa and trough underground tunnels</p>
           <p>Water for ancient fountains in sigiriya which functions in sigiriya evn today has obtained water through underground tunnels </p>
           <p>They have been constructed to enhance the beauty of the garden as well as to increase the atmospheric coolness</p>
           <p>There are ponds made for the use of the bikkus such as kuttam pokuna or the twin pond </p>
           <p>The fights of steps on both ends of the pond are initially decorated with pot and clay designs </p>
           <p>Even the edges of the granite duct that carry water to the pond also have been embellished with gorgeous stone carving</p>
           <p>One of the other ponds is the ath pokuna or elephant pond situated in  the abhayagiriya ministry</p>
           <p>In terms of size it could be compared to an olympic sized swimming pool</p>
           <p>It has flights of steps on both sides facilitating the stepping into water</p>
           <p>This pond has constructed on a in situ granite layer </p>
           <p>There is evidence that it ha been fed with water through a system of underground tunnels </p>
           <p>Construction of pond using isolated natural depressions on the surface of the rock layers is also an important feature </p>
           <p>These ponds can be described as a device ado[pted as true as much water as possible in the raja rat area which has a dry weather condition </p>
           <p>The ponds was constructed using natural topological features can be seen in sigiriya rock mihintale  etc </p>
           <p>Some ponds have been made for beautification </p>
           <p>One of such ponds are nelum pokuna built by king parakrambahau of polonnaruwa </p>
           <p>The pond is made using circular granite stones at the precincts of the bikkus monastery near the ravanavili chethiya it is said to have been connected to tissa wewa by underground water tunnels </p>
           <p>Some of the significant features of the technology used to make ponds </p>
           <ul>
               <li>There are ponds made with small scale fitting material as a measure to prevent mud and sediment flowing into them </li>
               <li>There are some ponds with small scale sinks institutes for washing feet before stepping into them </li>
               <li>Our ancestors built short wall around the pond which was slightly higher than the ground level </li>
               <li>Using stone slabs in order to prevent the direct flow of water to the pond </li>
           </ul>
           <p>Another feat of our ancient kings are the construction of water garden</p>
           <p>Dedication of the mahameghavahana or mahamevnawa park for the use of the order of buddhist sasan by king devanpiyatissa reveals that the construction of parks consisted an important aspect of the urban landscape </p>
           <p>Mahavamsa  mentions that there was another park </p>
           <p>Name wandana ugana where arahat mahinda thero delivered his sermons it was known as jatha wana </p>
           <p>The manamegha park was laid out by king muthusiva and was called as because at the time the location was chosen for a garden a great cloud gathering at an unusual time pouring forth rain </p>
           <p>Some pointers in constructing water gardens are vasaba , gotabaya and parakramabahu 1 </p>
           <p>Some of the best examples for water gardens are </p>
           <ul>
               <li>Ranmasu uyana in anuradhapura</li>
               <li>Sigiriya water garden </li>
           </ul>
           <p>Some of the features of the water garden are </p>
           <ul>
               <li>From the top of the sigiriya rock it is evident that there the water garden  moats etc have been planned to suit the environment</li>
               <li>This site plan includes elaborate and beautiful geometric shape which preserves the shape of the plan of the park </li>
           </ul>
           <p>Pottery is one of the oldest technology in the world</p>
           <p>At the very early stages of pottery products were used after they are derived in the sun </p>
           <p>Later it was discovered that the hardness and the strength of earthenware could be increased by frying them in high temperature </p>
           <p>Our ancestors knew how to shape the items to dersied forms using potters wheel , a plank which the potter can rotate manually</p>
           <p>This was also used to paint and decorate the products by drawing different linear pattern on them </p>
           <p>Some of the evidence that proves human  civilization prior to the arrival of king vijaya </p>
           <ul>
               <li>The cremated remains of decreased deposited in large terracotta urns have been found pre histric burial site at ibbankatuwa in dambulla </li>
               <li>The pots which were found in a village called uda ranchamadama in rathnapura district </li>
           </ul>
           <p>The processes of making house also have closely linked with the clay industry </p>
           <p>Those who engage in clay industry made wattle and daub houses </p>
           <p>The building materials used for walls composed of wooden strips woven together and then covered with soil while the roof was covered with grass or straw</p>
           <p>The chronicles say that a monastery was built in one day for the use of Arahat Mahinda thero and the bricks of raw clay were derived speedily with fire which gave dwelling  house a darker color </p>
           <p>The monastery was named as the kalu prasada meaning dark buildings </p>
           <p>The history states that a colony of people belonging to the caste of potters came to sri lanka in the 3rd century BC when the sri maha bodi was brought to the country </p>
           <p>Their duty was to produce clay pots for the supply of water for the sri maha bodi with the arrival of the people from the potter caste there emerged the villages knowns as kumbakara villages when the people of the potter castle settled down </p>
           <p>Sri lankan pottery industry was also enriched by the indian craftsmen evidently the brunt clay pipes were used for underground water tunnel during the anuradhapura era </p>
           <p>Production of tiles and bricks too was in existence since the 3rd century </p>
           <p>All dagobas constructed during the anuradhapura era is done with bricks </p>
           <p>Millions of bricks have been used for the construction of large dagoba such as abayagriy jeethawanramaya</p>
           <p>The bricks used were of different sizes because it was produced in different areas</p>
           <p>The ancient bricks were four times the size of the present day bricks </p>
           <p>The royal palace of king parakramabahu  in polonnaruwa and the demala maha seya are two with the edifices which were constructed using bricks </p>
           <p>The thickness of the walls of the royal palace of king parakramabahu suggest it consist of several stories </p>
           <p>The history of the tile industry of the sri lanka goes back to over two thousand years</p>
           <p>Tiles Of different size and shapes can be seen among the ancient ruins</p>
           <p>The manufacture of the tilles were called aluvathu the fragments of color placed on the tiles have been found in archeological excavations </p>
           <p>There are different shaped tiles </p>
           <ul>
               <li>Flat tile</li>
               <li>Bopathu ula (shape of the leaf of the bo tree)</li>
               <li>Kaku ula (hooked tiles)</li>
               <li>Peeli ula (gutter shape)</li>
               <li>Wadimbu ula (shape of cave breads )</li>
           </ul>
           <p>There prevalled on time where metal was used since the protohistoric era </p>
           <p>It was mainly used to utilize agricultural equipments </p>
           <p>Later different equipment like the hammer and christle made of iron and steel were used to cut deep ledges in the cave , to crave rock inscriptions and for the indication of artistic craving like different kinds of status . rock pillar and creeper designs </p>
           <p>It is evident from the archaeological findings of artifacts like ovens , molds and yobara (iron ore)</p>
           <p>Which had been utilized for manufacture gold silver and copper products</p>
           <p>Evidence has been found of the existence of an ancient factory in which gold coins and merchandise were produced within the site of abhayagiriya monastery complex </p>
           <p>The molds used during the 8th and 9th century forminning gold coins and precisely indicating the amount of gold to be used in one gold coin for their weight as well as gold tablets or swarna pinda palaka were found </p>
           <p>Besides these the discovery of different types of gold articles like gold bracelets and gold rings ,necklaces and earrings were delicately carved </p>
           <p>It appears that the jewelry making too was in developed stage , a tiny fraction of a gold piece ,a part of a pendent of the size of a paddy carved with 21 intactive float designs was found at excavations </p>
           <p>Our ancient kings had a pretty good knowledge on architecture </p>
           <p>There are two types of architectural buildings the are</p>
           <ul>
               <li>Religious buildings</li>
               <li>Non religious building</li>
           </ul>
           <p>Some of the religious buildings are </p>
           <ul>
               <li>Dagobas</li>
               <li>Vatadage</li>
               <li>Badigara</li>
               <li>Pilimaga</li>
               <li>Vihara and monastery complex</li>
           </ul>
           <p>Some non religious buildings</p>
           <ul>
               <li>Royal palace</li>
               <li>Hospital </li>
               <li>Toilets and urinals</li>
           </ul>
           <p>The first dagoba in the country is Thuparamaya </p>
           <p>Its original shape is said to be of a heap of paddy</p>
           <p>Some of the dagobas and the kings who erected them are </p>
           <ul>
               <li>King dutugemunu</li>
               <li>Mirisawetiya</li>
               <li>Ruwanweli maha seya</li>
               <li>King walagamba</li>
               <li>Abhayagiriya</li>
               <li>King mahasena</li>
               <li>Jetjewenaramaya</li>
           </ul>
           <p>one of the dagobas built during the polonnaruwa period are</p>
           <ul>
               <li>The pabalu vihara</li>
               <li>Rankoth viharaya</li>
               <li>Demela maha seya</li>
               <li>Yudaganawa</li>
               <li>Thopawewa</li>
           </ul>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
         </section>
    </div>
</body>    
</html>