<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The social organization of ancient soceity</title>
   <style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , "sans-serif";
    }

    body{
        background: #081b29;
        color: #ededed;
        overflow: unset;
    }

    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }


    .logo{
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
    }

    .navbar a {
        font-size: 18px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 3s;
    }

    .navbar a:hover{
        color: #00abf0;
    }

    .home{
        height: 80vh;
        padding: 10% 10% 10% 10% ;
    }

    .home-content{
        max-width: 600px;
    }

    .home-content h1{   
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
    }

    .home-content h1{
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
    }

    .home-content h3{
        font-size: 32px;
        font-weight: 700;
        color: #00abf0;
    }

    .home-content p{
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin: 10px 0px 10px;
    }

    .home-content a{
        font-size: 25px;
        color: aqua;
        text-decoration: none;
        font-weight: 600;
    }

    .home-content li{
        font-size: 25px;
        color: aquamarine;
        text-decoration: none;
        font-weight: 600;
    }
   </style>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Nash</a>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>
    <div class="home">
        <section class="home-content">
           <h1>The social organization of ancient soceity </h1>
           <p>Ancient people have a well organized hierachy </p>
           <p>There are two types of hireachy </p>
           <ul>
               <li>Vertical hierachy</li>
               <li>Horizanal heirachy</li>
           </ul>
           <p>The hierachy in which power goes down fom up is known as vertical hierachy </p>
           <p>    eg:- king ---> minster ---> goverment officers</p>
           <p>The hierachy in which power is equal is known as horizonal hiearchy </p>
           <p>    eg:- Minster , Army generals , Treasures</p>
           <p>The buddist clergy was at the top position in the social origization as they advised the goverment </p>
           <p>The king acted to hand over the athority to the temple buddist temples to collect taxes drom the 1st and 2nd century</p>
           <p>The rich merchides naval cpatains doctors and teacher were considered to be the chieftans of the society from ancient times</p>
           <p>There were farmers , sheperds , potters , gem cutters  , blacksmith and people engage in other work</p>
           <p>Slaves are in thelowest lwvel of society , their duty is to engage in various activites , they did not have any freedom</p>
           <p>There are two types of slaves </p>
           <ul>
               <li>Anuwaryathadasa -- Slaves from lineage </li>
               <li>Dhanakeethadasa -- slaves from mecenary</li>
           </ul>
           <p>The inscription mentions about officer who goes to the villages and note the villagers problems and them he would came and inform to the goverment officals and then they would inform to the king </p>
           <p>This inscription incribed by the kings of Mannawarmma lineage metions about law institustion that they used</p>
           <ul>
               <li>wadala -- king court / legistature</li>
               <li>sabawa -- judicary</li>
           </ul>
           <p>The people who maintain these laws are knoe as Mekkeper (Security officers )</p>
           <u>
               <li>eg -- panakaduwa copper plate</li>
           </u>
           <p>The inscription of this country which belonged o the 1st and 2nd centuries AD mention the laws regarding the irrigation , administration and charging taxes for using lands of the state </p>
           <p>One sixth of the producation had be paid to the goverment as tax </p>
           <p>Main types of taxes charged under the tax law</p>
           <ul>
               <li>
                    Dakapaathi 
                    <ul>
                        <li>taxes paid for using tanks</li>
                    </ul>
               </li>
               <li>
                   Bojakapthi
                   <ul>
                       <li>Cuktivating the lands of the king </li>
                   </ul>
               </li>
               <li>
                   Mataramajibaka
                   <ul>
                       <li>Catching fish in water</li>
                   </ul>
               </li>
           </ul>
           <p>An inscription which belonged to the 9th century mentions that one nut out of ten of the harvest should be paid to the goverment as tax</p>
           <p>When commodities were exporte throught the habour coustum tax was paid </p>
           <p>In an inscription  which belonged to the 1st century AD found at an ancient buddist temple in godawaya in the habanthota district mentions that a coustum tax by a fort which was situated close to thetemple was offered to the temple </p>
           <p>There was a judicary for the addminsitration of punishment for those who break the laws</p>
           <p>An inscriptionmade by king gajabahu 1 in the sithupawa inscription about such a high court , the inscription dercribes that the fines charged by the great hall of justice in the area weree offered to the monks in the sithupawa temple by the king for their provisions</p>
           <p>The kandawattwana inscriptions which belongs to the 9th century AD mentions a la of charging a fine of kalana from those who did not plough their lands at the proper time </p>
           <p>The kandawattwana inscriptions which belongs to the 9th century AD mentions a la of charging a fine of kalana from those who did not plough their lands at the proper time </p>
           <p>The sorabora wewa inscription which was made by king udaya 3 describes laws which were imposed by the king preventing some frauds afoot the goverment market in a place called Hopitigamuwa </p>
           <p>some of the laws which are mentioned are</p>
           <ul>
               <li>Taxes should be charged for the ones who are engaged in business in the hopitigamuwa trade area taxes should not be charged to by passers </li>
               <li>Twice the amount of taxes should be charged from those who do their businesses whithout showing to the officers</li>
               <li>The unstarderlized madathiya units should not be used for sacling goos in the business </li>
               <li>Ariconuts and bettle should only be said by keeping them in the huts made of them</li>
               <li>An oil tax should be charged frim thise who were engaged in business on poya days </li>
           </ul>
           <p>For the first time in history a law was imposed ssaying "No animals should be killed " was imposed by the Amandagamini Abaya , it was known as magathi law </p>
           <p>The mihinthale inscription made by king mahindu 4 maentions that a law states that death sentence is given to those who kill buffalo , cows , ox and goats </p>
           <p>King Nissankamalla made a law that states that the birds in the resivor should not be killed</p>
           <p>The wewalketiya inscription made by king mihindu 4 provide us with this descrption </p>
           <ul>
               <li>Death senetennce for crimes such as murder and stealing </li>
               <li>when cattles theives are caught the cattle should be given back to the owners and the skin of the cattle should be marked on the head of the theives with a heated iron</li>
               <li>The resposiabllity of catching the cattle theif is given to the villager of the village in which the theif resides </li>
               <li>The village should pay a tax untill they catch the hiding criminals </li>
           </ul>
           <p>The batter system was mostly used in the ancient era of sri lanka</p>
           <p>The oldest coins are known as hasebu or kahapana or kahawanu coins </p>
           <p>There also been a system of indpendent coins</p>
           <p>The kings also issued some of their own coins urring their rulling period </p>
           <p>The officers who was incharge of moulding coins are known as Rupa adeyasha (Picto derictor)</p>
           <p>This appears in an incription beloging to the 2nd century BC as Rupadaka</p>
           <p>Metal weighinh=g also was used as a mean in exchange activities in our country </p>
           <p>An inscription discovered in the weesigiriya which belonged to the 10th century mentions that the kasyapa 4 had offered 200 ran kalan (Golden pieces of kalan ) to buddist monks who stayed in a buddist temple called veerakuru </p>
           <p>Many foregin coins also ahve been found</p>
           <p>The ancient society had been treating woman with high regardes</p>
           <p>An inscription found near the old stupa named Neerigiya situated at a place called Lahugala mentions a great queen Chula seewali</p>
           <p>Queen leelawathi ruled the country three times</p>
           <p>The rasawahini an old liteary text mentions that a description of a woman who lived alone for three years untill her husband returnned from a foreign country where he did his trade affarirs</p>
           <p>The bikkus said to queen vihara mahadevi "You have gainned wealth and luixories life beacuse you hav made meritious deeds in your past life " Vihara Maha devi said "There is no happiness or luixories in life except without sons and daughters "</p>
           <p>A girl when reacehed 16 was qualified to marry , the girls had to be peotected untill they are quallifiedd to get married </p>
           <p>Womans are expected to be agood cooks</p>
           <p>Saddarmalankaraya decribes that the prince saliys wife Ashakamal won the hearts of everyone the kings palace by making delicous food</p>
           <p>Madhapcachi - woman who cook very well</p>
           <p>Females were given right to participate in religous activites </p>
           <p>A rock inscription found at a place called kokebe in Anurathapura district which belonged to the 2n century Ad mentions a name of a women as Thalatha laksmi who had offered half of her family land to a buddist temple durring the time f king bathikaabaya </p>
           <p>In the ancient times era paddy and kurrakan were profoundly used for food </p>
           <p>some others are </p>
           <ul>
               <li>Green grain</li>
               <li>Undu</li>
               <li>sesame (Thala)</li>
               <li>Marrow (Mea)</li>
               <li>Amu</li>
               <li>Menari</li>
               <li>Kangu</li>
               <li>Waru</li>
               <li>Yuwa</li>
           </ul>
           <p>They also had used som wgrains such as </p>
           <ul>
               <li>Sali</li>
               <li>Veethi</li>
               <li>Kedesa</li>
               <li>Varaka</li>
               <li>Kangu</li>
               <li>Duma</li>
               <li>Yuwa</li>
           </ul>
           <p>The thonigala inscription made by king keerthi sir rajasinge Meegevaranabya mentions paddy undu Mum and thala </p>
           <p>Saddarmalankaraya mentions that the meat of the peacock cooked in ghee and el rice (El rice ) was one of the favourite foods of cheiftans </p>
           <p>Pala maluwa and kadi embulu with Niwdu rice was the most frequent meal of the poor people </p>
           <p>Ancient people had a habit of drinking various kinds of gurel (Kenda )</p>
           <p>Some other words used for kedha are yuga and hamba</p>
           <p>A food named Athsunu made of fierd grain powder had been mentioned in old books Thala (seseme) was eaten as dersert</p>
           <p>The Thanigala inscription mentions that one had thamala (sesame) for dersert for bikkus </p>
           <p>Dampiyaatawagatapadaya mentions a food named "Thila sanguluka", this maybe Thala guli (sweet balls made of esame mixed with sugar and a piece of jaggary )</p>
           <p>Old books mentioned kinds of yams such as WelAlla , Kukulala , Kotu Alla Kandala Bathula </p>
           <p>There were wetakuu ,Thampala , weraniya dala , karu , kola ,lunuwali kola , labu (Pumpkin) , Karabatu , kekiri (melon) ,  Thibbatu , nelambu Ala ,Murunga , (drumstick) were vegetabls used among them </p>
           <p>There is a desicription in Saddarmalankaraya as </p>
           <p>There were three ways of cooking </p>
           <ul>
               <li>Bendum (Frying)</li>
               <li>Mellum (cooked in a half way )</li>
               <li> Hoddha (gravey)</li>
           </ul>
           <p>There were three ways that vegetables were cooked </p>
           <ul>
               <li>Anama</li>
               <li>Embula</li>
               <li>Niyamboluwa</li>
           </ul>
           <p>Carries cooked without gravey and can be eaten taking by hand is called Niyamboluwa</p>
           <p>Various types of spcies (kalu badu) has been used in ancient times </p>
           <p>There are three main types of spices</p>
           <ul>
               <li>Lunu (salt)</li>
               <li>Duru (dill)</li>
               <li>Miris (chilly)</li>
           </ul>
           <p>some other spices that were used are</p>
           <ul>
               <li>Sudu Duru</li>
               <li> Kalu Duru</li>
               <li>Koththamili</li>
               <li>Aba (Mustard)</li>
               <li>Uruhal</li>
           </ul>
           <p>In some areas Asamadagam (dill seeds) and sathakuppa were used instead of Aba and Uruhal</p>
           <p>some of the other types of sour which were used to make tasty food are</p>
           <ul>
               <li>Dehi (lemon)</li>
               <li>Dodam (orange )</li>
               <li>Goraka</li>
               <li>Nasnaran</li>
               <li>Gadedhi</li>
           </ul>
           <p>The oils which were commonly used to cook - kana thel (oil for eating)</p>
           <p>Among them Dunthel and girthel (ghee) were major ones</p>
           <p>The name Kirigeri can be seen in inscription of the 9th century used for the cows in the village </p>
           <p>The word Dee kiri too has been used in the inscription</p>
           <p>It is a coustum to consume curd</p>
           <p>It is mention in the poojaweeliya that a father says that </p>
           <ul>
               <li>Mage Dweniyata kiri kanata sorak banakath dunamara wediya</li>
               <li>should i give a copule of cattle milk for my daughter to eat curd </li>
           </ul>
           <p>Instead of the word kenda (Gruel) the three other words such as Ambu Hambu Kaadi were used </p>
           <p>When rice was bolied with salt mixed water is called Diya kenda</p>
           <p>The type of kenda which was made by mixing one potion of rice and six portion of water for paients are known as yuwaga</p>
           <p>Kenda (Gruel) was made by mixing various types of medcines for different kinds of illnesses</p>
           <p>Saddramlankaraya mention a kind of very aweet gurel in the name of rasa ull kenda it was cooked in milk without water using bee honey and ghee</p>
           <p>When it came to the rigt tempreture orange juice was mixed </p>
           <p>Those types of kenda cooked the leaves with medical quality were known as Ebulhambu </p>
           <p>people in the ancint time used to eat meat of animals as well as kinds of fish</p>
           <p>The tax which was charged for catching fish in the water ways of the canals which caarries water from tanks to paddy felid is called " Maathika Mathsya Bhagaya "</p>
           <p>our leader has got great measures to protexct the enivrioment </p>
           <p>In the Anurathapura plate inscription made by king mihindu 4 was an oder which forbien clearing forest on high lands </p>
           <p>There is apossiablity of ersoing of soil and landslide due ot clearing of forests in high lands</p>
           <p>There is an incription made by king udhaya 3 at a place called buddhannelle in Anurathapura in that incription there is a note </p>
           <ul>
               <li>Nal wala dandupath najkapanu isa </li>
               <li>Trees in the forest should not be cut </li>
           </ul>
           <p>Accoding to the rules of the kandawattwana incription made by king kasyapa 5 says that goverment officers had been odered to act Accodingto the rulrs and regulation imposed by the goverment in managing tees and woods</p>
           <p>Rules regrding protection of wild animals and soil can be seen in our ancient incription</p>
         </section>
    </div>
</body>    
</html>