<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The ancient soceity of sir lanka</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , "sans-serif";
    }

    body{
        background: #081b29;
        color: #ededed;
        overflow: unset;
    }

    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }


    .logo{
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
    }

    .navbar a {
        font-size: 18px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 3s;
    }

    .navbar a:hover{
        color: #00abf0;
    }

    .home{
        height: 80vh;
        padding: 10% 10% 10% 10% ;
    }

    .home-content{
        max-width: 600px;
    }

    .home-content h1{   
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
    }

    .home-content h1{
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
    }

    .home-content h3{
        font-size: 32px;
        font-weight: 700;
        color: #00abf0;
    }

    .home-content p{
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin: 10px 0px 10px;
    }

    .home-content a{
        font-size: 25px;
        color: aqua;
        text-decoration: none;
        font-weight: 600;
    }

    .home-content li{
        font-size: 25px;
        color: aquamarine;
        text-decoration: none;
        font-weight: 600;
    }
    .menu {
            height: 100%; 
            width: 500px;
            position: fixed; 
            z-index: 1; 
            top: 10%; 
            left: 60%;
            background-color: #081b29; 
            overflow-x: hidden; 
            padding-top: 20px;
        }
    .menu a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }
   </style>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Nash</a>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/about">about</a>
            <a href="http://127.0.0.1:8000/Docs">Docs</a>
            <a href="http://127.0.0.1:8000/profile">portfoilio</a>
            <a href="http://127.0.0.1:8000/resource">Resources</a>
        </nav>
    </header>
    <div class="home">
        <section class="home-content">
            <h1>The ancient soceity of sri lanka </h1>
            <p>There was no tecenologhy of communication to rule far away</p>
            <p>so to rule remorte areas they used ministers to rule these areas </p>
            <p>In the valipuram golden plate there is a mention of aminister named risigiy who ruled jaffna aera durring the ruling period of king vasbha </p>
            <ul>
                <li>Dasagam ethan -- Head of ten villages </li>
            </ul>
            <p>If there is a problem regarding amis given to the temple teh dasagam ethan should gather and solve the problem </p>
            <ul>
                <li>Vejasal -- hospital </li>
                <li>Veja  ---  Doctor</li>
            </ul>
            <p>King Budhadasa bulit hospital</p>
            <p>king Mahindu 5 acted to provide everything required to the hospital in the province </p>
            <p>Durring the period of king kasyapa 4 a dangourus fever spread in and around Anurathapura </p>
            <p>There were thre main insititutions which govred the country </p>
            <ul>
                <li>Legistature</li>
                <li>Executive</li>
                <li>Judicary</li>
            </ul>
            <p>Legislature is the king court</p>
            <p>The executive implements the laws</p>
            <p>Judicary provides justice to the countrymen </p>
            <ul>
                <li>Eka asthana -- Kings court</li>
                <li>Samaya      -- Agreement</li>
                <li>Wath himiyan wadala -- Kings dcree</li>
            </ul>
            <p>The officers named udhaya in menigamuwa and sena in Nikawella had come representing the council to offer a plort  of land called kerelegama to the nunnery called Mindarama </p>
            <ul>
                <li>Maha lekam -- Great writter / Great secatary</li>
            </ul>
            <p>Taking documents of all goverement affairs and taking nessacry steps to preserve them </p>
            <p>king  kasyapa 4 bulit a hospital for paients who were infected by a dangroues fever spread durring his time </p>
            <ul>
                <li>Thimbirige -- metenal hospital</li>
            </ul>
            <p>king uppatissa 1 buit metenal hospital for pregenet women </p>
            <p>Our kings also metion metneal and trade affairs with other country </p>
            <ul>
                <li>king gajabahu 1 arrived in chera state in south india to participate in a cermony where the Pathini Devalaya was declared open </li>
                <li>king kanatissa had sent ammbasstors to romekuladeshaya (Rome) to fetch glass pebbles for a pooja performed in the ruwanweliya maha seya</li>
                <li>Durring king agabo period to stregented the trade affairs with china 24 missions were sent </li>
                <li>sri lanka had meratial relations with the negboyring countries such as kalinga nad pandyan to strengh the poltical power </li>
                <li>King Vijabahu 1 appointed the wellkara army for the protection of the polonaruwa tooth temple</li>
                <li>After the 10th century our kings had mutual relations with arabian countiries to strengh the trade affairs </li>
            </ul>
            <p>There were three main sectors in economy</p>
            <ul>
                <li>Agriculture</li>
                <li>industries</li>
                <li>trade</li>
            </ul>
            <p>Some of the main sectors of agriculure </p>
            <ul>
                <li>Chena cultivation</li>
                <li>Paddy cultiation</li>
                <li>Animal husbandry</li>
            </ul>
            <p>The ways of preparing a chena cultivation </p>
            <ul>
                <li>A sutiable land for chena is preapered for growing grains aand vegetables after chosing a plot of land from a jungle </li>
                <li>The owner shouts to chase away the animals </li>
            </ul>
            <ul>
                <li>Nawa deli hena -- A new chena which has been cleared by seeting fire to it </li>
                <li>Danu weta -- The fence that was made around the chena to protect it aganist wild animals</li>
                <li>Pela -- The watch hut which was bulit on top of a tall tree </li>
            </ul>
            <p>The farmer stayed sleepless night  to protect the chena from wild animals </p>
            <p>The nawadeli hena also was said because it produced nine plants namely</p>
            <ul>
                <li>Finger millet (Kurakkan)</li>
                <li>Kalu</li>
                <li>Undu</li>
                <li>Green gram</li>
                <li>Corn (Iringu)</li>
                <li>Millet (Thanahal)</li>
                <li>Asamodagam</li>
                <li>Amu</li>
            </ul>
            <p>The normal method practiced in the chena cultivation was abanding a chena after cultivating in it ffor twice Then it ggrows wild again therefore it dose not do any harm for the enviroment </p>
            <ul>
                <li>Kanaththa -- The derseted chena which were used after tey were abounded </li>
                <li>Ketha , kubura -- The places where paddy was cultivated </li>
            </ul>
            <p>Most paddy cultivation was done using irrigation Rainwater was reseved durring the rainny season and carried to paddy felids through canals </p>
            <p>The paddy cultication was done twice a year </p>
            <p>There are 03 seasons </p>
            <ul>
                <li>Yala season</li>
                <li>Maha season</li>
                <li>Keda season</li>
            </ul>
            <p>Some of thestragies which weere used to gathering water are</p>
            <ul>
                <li>gathering rain water</li>
                <li>Taking water to paddy through canals by putting a barrier across a natural river </li>
            </ul>
            <p>"Not sindgle drop of water taht falls off the sky shoul be sent to the sea without propely using it " --- King parakarmabahu 1</p>
            <p>Rearing cattle was a major activity in naimal husbanry The inscriptions mentions Gopalgam reservedfor this propuse Curd Ghee and butter were produced apart from cattle , chicken and goats also are reared </p>
            <p>There are many industries in ancient soceity </p>
            <ul>
                <li>Kamman -- Iron workers</li>
                <li>Kabara -- Blacksmiths</li>
                <li>Sawanakara or Thaladhara -- Goldsmith</li>
                <li>Manikara -- Gem cutters , Gem minners</li>
                <li>Dathika or danthia -- Tusk carvers</li>
                <li>Kubakara or kubkara -- Potters</li>
                <li>Thalavaya -- spinners</li>
            </ul>
            <p>There are some temenologies used in trading </p>
            <ul>
                <li>Wanja , Wapara -- Thise who are engaged in trade</li>
                <li>Poogaya        -- It is an organization in which traders work togher</li>
            </ul>
            <p>Laws imposed by king udaya 4 in the hopitigamuwa market </p>
            <p>some of the south imdian organization operated in sir lanka are </p>
            <ul>
                <li>Nanadesi</li>
                <li>Valagniyar</li>
                <li>Ayinruwara</li>
            </ul>
            <p>Some of inscription which give information trade affaris </p>
            <ul>
                <li>Inscription in the westen aqauntic garde in sigirya</li>
                <li>The Mandalaga inscription in Hamabanthata</li>
                <li>The wekerakema inscription</li>
                <li>Soraborawewa incription</li>
                <li>Boththgela inscription</li>
            </ul>
            <p>some of the habour in sir lanka are </p>
            <ul>
                <li>The westen Mathato habour</li>
                <li>Gokkanathitha habour</li>
                <li>Jumbakkolapatham</li>
                <li>Lakkapthina</li>
            </ul>
            <p>Some of the profession which were done by sir lanka in ancient times</p>
            <ul>
                <li>
                    Teaching
                    <li>
                        Acharaya
                        <li>
                            -- Those who taught craft 
                            -- Those who execelled in education 
                        </li>
                    </li>
                    <li>
                        Hasthi Acharaya
                        <li>
                            -- Who trunned taming tusker 
                        </li>
                    </li>
                    <li>
                        Aswath Acharaya
                        <li>
                            -- Those who trannied going on a horseback  
                        </li>
                    </li>
                    <li>
                        Dunu Acharaya
                        <li>
                            -- Those who trainned shooting with bow
                        </li>
                    </li>
                </li>
                <li>
                    Doctor
                    <li>
                        Vedaya
                        <li>
                            -- Doctor
                        </li>
                    </li>
                    <li>
                        Maha Vedaya
                        <li>
                            -- Cheif doctor of suergens 
                        </li>
                    </li>
                </li>
                <li>
                    Lawyers
                    <li>
                        Vahara - Lawyers
                    </li>
                </li>
                <li>Donong</li>
                <li>
                    Painting
                    <li>
                        Chitikara or lena -- painters
                    </li>
                </li>
            </ul>
            <p>There are four main religon</p>
            <ul>
                <li>Buddisum</li>
                <li>Hindusum</li>
                <li>Islam</li>
                <li>Chritinaity</li>
            </ul>
            <p>The first religon which spread in sir lanka is Buddisum</p>
            <p>For the bikkus the natural caves were cleanned and offered there are more than 1600 caves offered to bikkus </p>
            <p>A sutiable cave was selected and then made on a drip edge in oder to prevent water from coming inside during the rainny seasons and offered to the bikkus </p>
            <p>In some caves detailed of those who have been offred the cave have been engraved in the drip legdes </p>
            <p>They were written in brahmi letters an dold sinhala langauge sinhala parkurtha</p>
            <p>some caves with drip legdes are</p>
            <ul>
                <li>Mihinthele</li>
                <li>Rithigala</li>
                <li>Veesagiriya</li>
                <li>Sigiriya</li>
            </ul>
            <p>Houses made of clay and wattle and tached with reed and leaves for bikkus are knoen as pansala</p>
            <ul>
                <li>Thera -- cheif monk </li>
                <li>Antehwasaka -- Monks</li>
                <li>Sadhiviharya -- The student monks who live in asscoation with the cheif monk</li>
                <li>Bahanakavaru -- The monks who kept the thripikaya in memeory</li>
                <li>Vasukiya sahataka -- Robe offering at the cermony of the rainny season </li>
            </ul>
            <p>Hindusm was spread from south india</p>
            <p>There were reports of Brahmi groups who lived in anurathapura</p>
            <ul>
                <li>Sothisala -- Where brahmi rituals were made</li>
                <li>Sivikasala -- where pojas for Lord shiva was made</li>
            </ul>
            <p>Some of the temles made for hindusim are</p>
            <ul>
                <li>Thirikoneswaram temple </li>
                <li>Thrikethisweram temple</li>
            </ul>
            <p>The book ajabul hind written by Ibnu shahir in 953AD mention that durring the holy prophet period a group of people from sarandp have arrived to get a clear idea of islam </p>
            <p>The muslim commercial domination was started by the Abeseede empire centered in Bhagdad spread in asia between 751AD -- 1258AD durring this time islam also have sprea in sir lanka </p>
            <p>A stone with the Nerstron cross found in anurathapura later the traders who held the idea of nerstron sect which was centered in persia migrated to sir lanka through the trade routes </p>
            <p>he knowledge is passed down from generation to generation by exescring and listning to someone </p>
            <p>After buddisum was rooted in the country budist temples became educational centers</p>
            <p>The schalars in the temples and monarsties were well versed in sinhala and pali , sanskirt and parankit </p>
            <p>Examples for edcucational centers are</p>
            <ul>
                <li>Mahawhara</li>
                <li>Abayagiriya</li>
            </ul>
            <p>The anicent budist poets were diciplined in buddist teachings and are infulenced by nature in their writting </p>
            <p>There lived people from different cultures in our country from ancient times and they have exsisted peacefully in this country </p>
         </section>
         <section class="menu">
            <a href="http://127.0.0.1:8000/History/The_social_organization_of_ancient_soceity">History - The_social_organization_of_ancient_soceity</a>
            <a href="http://127.0.0.1:8000/History/The_Ancient_soceity_of_sri_lanka">History - The_Ancient_soceity_of_sri_lanka</a>
        </section>
    </div>
</body>    
</html>